In [ ]:
import pandas as pd
import numpy as np
import kagglehub
path = kagglehub.dataset_download("vijayuv/onlineretail")

Using Colab cache for faster access to the 'onlineretail' dataset.

In [ ]:
path

'/kaggle/input/onlineretail'

Task 1: Load the dataset and display basic information about its structure.

In [ ]:
df=pd.read_csv('/kaggle/input/onlineretail/OnlineRetail.csv',encoding="ISO-8859-1")
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

Task 2: Show the first 15 and last 15 records.

In [ ]:
df.head(15)
df.tail(15)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,12/9/2011 12:50,1.65,12680.0,France
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,12/9/2011 12:50,1.65,12680.0,France
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,12/9/2011 12:50,3.75,12680.0,France
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,12/9/2011 12:50,3.75,12680.0,France
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,12/9/2011 12:50,3.75,12680.0,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,12/9/2011 12:50,3.75,12680.0,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,12/9/2011 12:50,1.95,12680.0,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,12/9/2011 12:50,4.15,12680.0,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

Task 3: Display a random sample of 20 transactions.

In [ ]:
df.sample(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
489686,578022,22493,PAINT YOUR OWN CANVAS SET,3,11/22/2011 13:25,1.65,17371.0,United Kingdom
508020,579194,22466,FAIRY TALE COTTAGE NIGHT LIGHT,12,11/28/2011 15:50,1.95,15804.0,United Kingdom
208238,555108,21523,DOORMAT FANCY FONT HOME SWEET HOME,1,5/31/2011 14:18,7.95,18231.0,United Kingdom
216746,555853,84279P,CHERRY BLOSSOM DECORATIVE FLASK,1,6/7/2011 13:44,3.75,14375.0,United Kingdom
129393,547385,85150,LADIES & GENTLEMEN METAL SIGN,1,3/22/2011 15:48,4.96,NaN,United Kingdom
160186,550458,21621,VINTAGE UNION JACK BUNTING,8,4/18/2011 13:13,16.63,NaN,United Kingdom
357688,568104,22266,EASTER DECORATION HANGING BUNNY,20,9/23/2011 15:50,0.19,16485.0,United Kingdom
198054,C554006,22509,SEWING BOX RETROSPOT DESIGN,-12,5/20/2011 12:25,14.95,13418.0,United Kingdom
317589,564817,22772,PINK DRAWER KNOB ACRYLIC EDWARDIAN,2,8/30/2011 12:02,2.46,NaN,United Kingdom
300611,563205,22492,MINI PAINT SET VINTAGE,36,8/14/2011 12:03,0.65,14040.0,United Kingdom
409435,572061,22332,SKULLS PARTY BAG + STICKER SET,8,10/20/2011 12:53,1.65,12474.0,Germany
540196,581471,22910,PAPER CHAIN KIT VINTAGE CHRISTMAS,3,12/8/2011 19:29,2.95,14702.0,United Kingdom
257734,559542,21179,NO JUNK MAIL METAL SIGN,5,7/10/2011 13:32,0.39,17126.0,United Kingdom
22212,538155,84849B,FAIRY SOAP SOAP HOLDER,2,12/9/2010 16:52,1.69,16907.0,United Kingdom
319978,564953,17003,BROCADE RING PURSE,180,8/31/2011 13:37,0.29,17588.0,United Kingdom
38989,539607,21559,STRAWBERRY LUNCH BOX WITH CUTLERY,6,12/20/2010 14:10,2.55,12681.0,France
305176,563638,22560,TRADITIONAL MODELLING CLAY,1,8/18/2011 10:36,1.25,15311.0,United Kingdom
236923,557790,22313,OFFICE MUG WARMER PINK,4,6/22/2011 16:33,2.95,14099.0,United Kingdom
166488,550923,21232,STRAWBERRY CERAMIC TRINKET BOX,12,4/21/2011 14:30,1.25,13748.0,United Kingdom
350039,567610,23414,ZINC BOX SIGN HOME,12,9/21/2011 11:30,8.49,17511.0,United Kingdom

Task 4: Find out how many rows and columns are in the dataset.

In [ ]:
df.shape

(541909, 8)

## Task 5: List all column names

In [ ]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

# Task 6: Check the data type of each column.

In [ ]:
print(df['Quantity'].dtype)

int64

In [ ]:
print(df['InvoiceNo'].dtype)

object

# Task 7: Get a statistical summary of all numerical columns.

In [ ]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

PART B: Data Quality Assessment
# Task 8: Identify which columns have missing values and how many.

In [ ]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

# Task 9: Find out how many transactions have missing CustomerID.

In [ ]:
df['CustomerID'].isnull().sum()

np.int64(135080)

# Task 10: Check if there are any duplicate rows in the dataset.

In [ ]:
df.duplicated().sum()

np.int64(5268)

# Task 11: Identify transactions where Quantity is less than or equal to zero.

In [ ]:
df[df['Quantity']<=0].count()

InvoiceNo      10624
StockCode      10624
Description     9762
Quantity       10624
InvoiceDate    10624
UnitPrice      10624
CustomerID      8905
Country        10624
dtype: int64

# Task 12: Find transactions where UnitPrice is zero or negative.

In [ ]:
df['InvoiceNo'][df['UnitPrice']<=0].count()

np.int64(2517)

# Task 13: Identify how many invoice numbers start with the letter 'C'.

In [ ]:
df['InvoiceNo'].astype(str).str.startswith('C').sum()

np.int64(9288)

# Task 14: Check if the Description column has any leading or trailing spaces.

In [ ]:
df['Description'].astype(str).str.startswith(' ').sum()|df['Description'].astype(str).str.endswith(' ').sum()

np.int64(112631)

# Task 15: Remove all rows where CustomerID is missing

In [ ]:
df['CustomerID'].isnull().sum()
df.dropna(subset=['CustomerID'])

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

# Task 16: For missing product descriptions, fill them with "Unknown Product".

In [ ]:
df['Description'].isna().sum()
df['Description']=df['Description'].fillna('Unknown Product')
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

# Task 17: Remove all duplicate transactions

In [ ]:
df.drop_duplicates()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  541909 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

# Task 18: Remove transactions where Quantity is less than or equal to zero.

In [ ]:
# df['Quantity'][df.loc[::,'Quantity']<=0].count()
# df.drop(df['Quantity'][df.loc[::,'Quantity']<=0].count())
# df.info()
(df['Quantity'] <= 0).sum()
df=df[df['Quantity']>0]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 531285 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    531285 non-null  object
 1   StockCode    531285 non-null  object
 2   Description  531285 non-null  object
 3   Quantity     531285 non-null  int64
 4   InvoiceDate  531285 non-null  object
 5   UnitPrice    531285 non-null  float64
 6   CustomerID   397924 non-null  float64
 7   Country      531285 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 36.5+ MB

# Task 19: Remove transactions where UnitPrice is less than or equal to zero

In [ ]:
(df['UnitPrice']<=0).sum()
df=df[df['UnitPrice']>0]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 530104 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    530104 non-null  object
 1   StockCode    530104 non-null  object
 2   Description  530104 non-null  object
 3   Quantity     530104 non-null  int64
 4   InvoiceDate  530104 non-null  object
 5   UnitPrice    530104 non-null  float64
 6   CustomerID   397884 non-null  float64
 7   Country      530104 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 36.4+ MB

# Task 20: Remove all cancelled transactions (invoices starting with 'C').

In [ ]:
df = df[df['InvoiceNo'].str.startswith('C', na=False) == False]
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

# Task 21: Change the column name "Description" to "ProductName".

In [ ]:
df.rename(columns={'Description':'ProductName'},inplace=True)
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

# Task 22: Ensure the InvoiceDate column is in proper date-time format.

In [ ]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

# Task 23: Convert CustomerID to integer type.

In [ ]:
df['CustomerID']=df['CustomerID'].fillna(0)
df['CustomerID']=df['CustomerID'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 530104 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    530104 non-null  object
 1   StockCode    530104 non-null  object
 2   ProductName  530104 non-null  object
 3   Quantity     530104 non-null  int64
 4   InvoiceDate  530104 non-null  datetime64[ns]
 5   UnitPrice    530104 non-null  float64
 6   CustomerID   530104 non-null  int64
 7   Country      530104 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 36.4+ MB

# Task 24: Reset the index after all cleaning operations.

In [ ]:
df.reset_index(inplace=True)

# PART D: Feature Creation
# Task 25: Create a new column called "TotalPrice" that represents the total value of each transaction.

In [ ]:
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']
df

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...,...
530099,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20
530100,541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60
530101,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60
530102,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60
530103,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85

# Task 26: Extract the year from InvoiceDate and store it in a new column "Year".

In [ ]:
df['year']=df['InvoiceDate'].dt.year
df

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,year
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010
...,...,...,...,...,...,...,...,...,...,...,...
530099,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011
530100,541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011
530101,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011
530102,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011
530103,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011

# Task 27: Extract the month from InvoiceDate and store it in a new column "Month".

In [ ]:
df['month']=df['InvoiceDate'].dt.month
df

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,year,month
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12
...,...,...,...,...,...,...,...,...,...,...,...,...
530099,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12
530100,541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12
530101,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12
530102,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12
530103,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12

# Task 28: Extract the day from InvoiceDate and store it in a new column "Day"

In [ ]:
df['day']=df['InvoiceDate'].dt.day
df

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,year,month,day
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
530099,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9
530100,541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9
530101,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9
530102,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9
530103,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9

# Task 29: Extract the hour from InvoiceDate and store it in a new column "Hour".

In [ ]:
df['hour']=df['InvoiceDate'].dt.hour
df

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,year,month,day,hour
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530099,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12
530100,541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12
530101,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12
530102,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12
530103,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12

# Task 30: Create a column "DayOfWeek" showing which day of the week the transaction occurred.

In [ ]:
df['DayOfWeek'] = df['InvoiceDate'].dt.day_name()
df['DayOfWeekNum'] = df['InvoiceDate'].dt.dayofweek
df

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,year,month,day,hour,DayOfWeek,DayOfWeekNum
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,Wednesday,2
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,2
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,Wednesday,2
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,2
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530099,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,4
530100,541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,4
530101,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4
530102,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4
530103,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,4

# Task 31: Create a column "Quarter" showing which quarter (Q1, Q2, Q3, Q4) the transaction belongs to.

In [ ]:
df['Quarter'] = df['InvoiceDate'].dt.quarter
df

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,year,month,day,hour,DayOfWeek,DayOfWeekNum,Quarter
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,Wednesday,2,4
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,2,4
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,Wednesday,2,4
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,2,4
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530099,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,4,4
530100,541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,4,4
530101,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,4
530102,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,4
530103,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,4,4

# Task 32: Create a column "RevenueCategory" with three levels:

"Low" for transactions under Â£10
"Medium" for transactions between Â£10 and Â£100
"High" for transactions above Â£100

In [ ]:
df['RevenueCategory'] = np.where(df['TotalPrice'] < 10, 'Low',np.where(df['TotalPrice'] <= 100, 'Medium', 'High'))
df

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,year,month,day,hour,DayOfWeek,DayOfWeekNum,Quarter,RevenueCategory
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,Wednesday,2,4,Medium
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,2,4,Medium
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,Wednesday,2,4,Medium
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,2,4,Medium
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,2,4,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530099,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,4,4,Medium
530100,541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,4,4,Medium
530101,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,4,Medium
530102,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,4,Medium
530103,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,4,4,Medium

# Task 33: Create a column "OrderSize" with three levels:

"Small" for Quantity less than 5
"Medium" for Quantity between 5 and 20
"Large" for Quantity greater than 20

In [ ]:
df['ordersize']=np.where(df['Quantity']<5,'small',np.where(df['Quantity']<=20,'medium','Large'))
df

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,year,month,day,hour,DayOfWeek,DayOfWeekNum,Quarter,RevenueCategory,ordersize
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,Wednesday,2,4,Medium,medium
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,2,4,Medium,medium
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,Wednesday,2,4,Medium,medium
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,2,4,Medium,medium
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,2,4,Medium,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530099,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,4,4,Medium,medium
530100,541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,4,4,Medium,medium
530101,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,4,Medium,small
530102,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,4,Medium,small
530103,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,4,4,Medium,small

# Task 34: Create a column that shows the length of each product name.

In [ ]:
df['lengthofprodname']=df['ProductName'].astype(str).str.len()
df

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,year,month,day,hour,DayOfWeek,DayOfWeekNum,Quarter,RevenueCategory,ordersize,lengthofprodname
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,Wednesday,2,4,Medium,medium,34
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,2,4,Medium,medium,19
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,Wednesday,2,4,Medium,medium,30
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,2,4,Medium,medium,35
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,2,4,Medium,medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530099,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,4,4,Medium,medium,27
530100,541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,4,4,Medium,medium,28
530101,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,4,Medium,small,29
530102,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,4,Medium,small,31
530103,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,4,4,Medium,small,29

# PART E: Text Data Processing
# Task 35: Convert all product names to uppercase.

In [ ]:
df['ProductName']=df['ProductName'].str.upper()
df

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,year,month,day,hour,DayOfWeek,DayOfWeekNum,Quarter,RevenueCategory,ordersize,lengthofprodname
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,Wednesday,2,4,Medium,medium,34
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,2,4,Medium,medium,19
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,Wednesday,2,4,Medium,medium,30
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,2,4,Medium,medium,35
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,2,4,Medium,medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530099,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,4,4,Medium,medium,27
530100,541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,4,4,Medium,medium,28
530101,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,4,Medium,small,29
530102,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,4,Medium,small,31
530103,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,4,4,Medium,small,29

# Task 36: Remove any extra spaces from the Country column.

In [ ]:
df['Country']=df['Country'].astype(str).str.strip()
df

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,year,month,day,hour,DayOfWeek,DayOfWeekNum,Quarter,RevenueCategory,ordersize,lengthofprodname
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,Wednesday,2,4,Medium,medium,34
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,2,4,Medium,medium,19
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,Wednesday,2,4,Medium,medium,30
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,2,4,Medium,medium,35
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,2,4,Medium,medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530099,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,4,4,Medium,medium,27
530100,541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,4,4,Medium,medium,28
530101,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,4,Medium,small,29
530102,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,4,Medium,small,31
530103,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,4,4,Medium,small,29

# Task 37: Find all products that contain the word "BAG" in their name.

In [ ]:
df['ProductName'].str.contains('BAG', case=False, na=False).sum()

np.int64(52297)

# Task 38: Find all products whose names start with "WHITE".

In [ ]:
df['ProductName'].astype(str).str.startswith('WHITE',na='False')

0          True
1          True
2         False
3         False
4         False
          ...
530099    False
530100    False
530101    False
530102    False
530103    False
Name: ProductName, Length: 530104, dtype: bool

# Task 39: Find all products whose names end with "HOLDER".

In [ ]:
df['ProductName'].astype(str).str.endswith('HOLDER',na='False').sum()

np.int64(13283)

# Task 40: Replace "United Kingdom" with "UK" in the Country column.

In [ ]:
df['Country']=df['Country'].astype(str).str.replace('United Kingdom','UK')
df

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,year,month,day,hour,DayOfWeek,DayOfWeekNum,Quarter,RevenueCategory,ordersize,lengthofprodname
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,Wednesday,2,4,Medium,medium,34
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,2,4,Medium,medium,19
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,Wednesday,2,4,Medium,medium,30
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,2,4,Medium,medium,35
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,2,4,Medium,medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530099,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,4,4,Medium,medium,27
530100,541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,4,4,Medium,medium,28
530101,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,4,Medium,small,29
530102,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,4,Medium,small,31
530103,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,4,4,Medium,small,29

# Task 41: Replace "EIRE" with "Ireland" in the Country column.

In [ ]:
df['Country']=df['Country'].astype(str).str.replace("EIRE","IreLand")
df

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,year,month,day,hour,DayOfWeek,DayOfWeekNum,Quarter,RevenueCategory,ordersize,lengthofprodname
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,Wednesday,2,4,Medium,medium,34
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,2,4,Medium,medium,19
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,Wednesday,2,4,Medium,medium,30
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,2,4,Medium,medium,35
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,2,4,Medium,medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530099,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,4,4,Medium,medium,27
530100,541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,4,4,Medium,medium,28
530101,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,4,Medium,small,29
530102,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,4,Medium,small,31
530103,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,4,4,Medium,small,29

# PART F: Data Selection and Filtering

# Task 42: Select only the columns: InvoiceNo, ProductName, Quantity, UnitPrice, Country.

In [ ]:
df1 = df[['InvoiceNo', 'ProductName', 'Quantity', 'UnitPrice', 'Country']]
df1

,InvoiceNo,ProductName,Quantity,UnitPrice,Country
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,UK
1,536365,WHITE METAL LANTERN,6,3.39,UK
2,536365,CREAM CUPID HEARTS COAT HANGER,8,2.75,UK
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,UK
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,UK
...,...,...,...,...,...
530099,581587,PACK OF 20 SPACEBOY NAPKINS,12,0.85,France
530100,581587,CHILDREN'S APRON DOLLY GIRL,6,2.10,France
530101,581587,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,France
530102,581587,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,France
530103,581587,BAKING SET 9 PIECE RETROSPOT,3,4.95,France

# Task 43: Display transactions from Germany only.

In [ ]:
germany_transactions = df[df['Country'] == "Germany"]
germany_transactions

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,year,month,day,hour,DayOfWeek,DayOfWeekNum,Quarter,RevenueCategory,ordersize,lengthofprodname
1098,1109,536527,22809,SET OF 6 T-LIGHTS SANTA,6,2010-12-01 13:04:00,2.95,12662,Germany,17.70,2010,12,1,13,Wednesday,2,4,Medium,medium,23
1099,1110,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,2010-12-01 13:04:00,2.55,12662,Germany,15.30,2010,12,1,13,Wednesday,2,4,Medium,medium,35
1100,1111,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,2010-12-01 13:04:00,0.85,12662,Germany,10.20,2010,12,1,13,Wednesday,2,4,Medium,medium,34
1101,1112,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,2010-12-01 13:04:00,1.65,12662,Germany,19.80,2010,12,1,13,Wednesday,2,4,Medium,medium,29
1102,1113,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,2010-12-01 13:04:00,1.95,12662,Germany,23.40,2010,12,1,13,Wednesday,2,4,Medium,medium,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529996,541801,581578,22993,SET OF 4 PANTRY JELLY MOULDS,12,2011-12-09 12:16:00,1.25,12713,Germany,15.00,2011,12,9,12,Friday,4,4,Medium,medium,28
529997,541802,581578,22907,PACK OF 20 NAPKINS PANTRY DESIGN,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,2011,12,9,12,Friday,4,4,Medium,medium,32
529998,541803,581578,22908,PACK OF 20 NAPKINS RED APPLES,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,2011,12,9,12,Friday,4,4,Medium,medium,29
529999,541804,581578,23215,JINGLE BELL HEART ANTIQUE SILVER,12,2011-12-09 12:16:00,2.08,12713,Germany,24.96,2011,12,9,12,Friday,4,4,Medium,medium,32
530000,541805,581578,22736,RIBBON REEL MAKING SNOWMEN,10,2011-12-09 12:16:00,1.65,12713,Germany,16.50,2011,12,9,12,Friday,4,4,Medium,medium,27

# Task 44: Display transactions where Quantity is greater than 50.

In [ ]:
greater_than_50_transaction=(df['Quantity']>50).sum()
greater_than_50_transaction

np.int64(12150)

# Task 45: Display transactions where UnitPrice is between Â£5 and Â£10.

In [ ]:
unitprice_transactions = df[(df['UnitPrice'] > 5) & (df['UnitPrice'] < 10)]
unitprice_transactions

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,year,month,day,hour,DayOfWeek,DayOfWeekNum,Quarter,RevenueCategory,ordersize,lengthofprodname
5,5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850,UK,15.30,2010,12,1,8,Wednesday,2,4,Medium,small,28
16,16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047,UK,19.90,2010,12,1,8,Wednesday,2,4,Medium,small,30
17,17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047,UK,17.85,2010,12,1,8,Wednesday,2,4,Medium,small,24
18,18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047,UK,17.85,2010,12,1,8,Wednesday,2,4,Medium,small,24
19,19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047,UK,31.80,2010,12,1,8,Wednesday,2,4,Medium,small,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530050,541855,581580,21351,CINAMMON & ORANGE WREATH,1,2011-12-09 12:20:00,6.75,12748,UK,6.75,2011,12,9,12,Friday,4,4,Low,small,24
530053,541858,581580,79321,CHILLI LIGHTS,2,2011-12-09 12:20:00,5.75,12748,UK,11.50,2011,12,9,12,Friday,4,4,Medium,small,13
530073,541878,581585,23356,LOVE HOT WATER BOTTLE,3,2011-12-09 12:31:00,5.95,15804,UK,17.85,2011,12,9,12,Friday,4,4,Medium,small,21
530087,541892,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113,UK,214.80,2011,12,9,12,Friday,4,4,High,Large,29
530088,541893,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113,UK,70.80,2011,12,9,12,Friday,4,4,Medium,medium,21

# Task 46: Display transactions from France with Quantity greater than 20.

In [ ]:
num_transactions = ((df['Country']=='France') & (df['Quantity']>=20)).sum()
print(num_transactions)

1614

# Task 47: Display transactions from December 2010.

In [ ]:
dec_transactions = df[(df['month'] == 12) & (df['year'] == 2010)]
dec_transactions

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,year,month,day,hour,DayOfWeek,DayOfWeekNum,Quarter,RevenueCategory,ordersize,lengthofprodname
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,Wednesday,2,4,Medium,medium,34
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,2,4,Medium,medium,19
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,Wednesday,2,4,Medium,medium,30
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,2,4,Medium,medium,35
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,2,4,Medium,medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41475,42476,539991,21618,4 WILDFLOWER BOTANICAL CANDLES,1,2010-12-23 16:49:00,1.25,0,UK,1.25,2010,12,23,16,Thursday,3,4,Low,small,30
41476,42477,539991,72741,GRAND CHOCOLATECANDLE,4,2010-12-23 16:49:00,1.45,0,UK,5.80,2010,12,23,16,Thursday,3,4,Low,small,21
41477,42478,539992,21470,FLOWER VINE RAFFIA FOOD COVER,1,2010-12-23 17:41:00,3.75,0,UK,3.75,2010,12,23,17,Thursday,3,4,Low,small,29
41478,42479,539992,22258,FELT FARM ANIMAL RABBIT,1,2010-12-23 17:41:00,1.25,0,UK,1.25,2010,12,23,17,Thursday,3,4,Low,small,23
41479,42480,539992,21155,RED RETROSPOT PEG BAG,1,2010-12-23 17:41:00,2.10,0,UK,2.10,2010,12,23,17,Thursday,3,4,Low,small,21

# Task 48: Display transactions that occurred on weekends.

In [ ]:
weekend_transactions = df[df['DayOfWeekNum'] >= 5]
weekend_transactions

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,year,month,day,hour,DayOfWeek,DayOfWeekNum,Quarter,RevenueCategory,ordersize,lengthofprodname
7290,7419,537037,22114,HOT WATER BOTTLE TEA AND SYMPATHY,8,2010-12-05 10:03:00,3.95,17243,UK,31.60,2010,12,5,10,Sunday,6,4,Medium,medium,33
7291,7420,537037,21485,RETROSPOT HEART HOT WATER BOTTLE,6,2010-12-05 10:03:00,4.95,17243,UK,29.70,2010,12,5,10,Sunday,6,4,Medium,medium,32
7292,7421,537037,22835,HOT WATER BOTTLE I AM SO POORLY,3,2010-12-05 10:03:00,4.65,17243,UK,13.95,2010,12,5,10,Sunday,6,4,Medium,small,31
7293,7422,537037,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-05 10:03:00,3.75,17243,UK,22.50,2010,12,5,10,Sunday,6,4,Medium,medium,30
7294,7423,537037,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-05 10:03:00,3.75,17243,UK,22.50,2010,12,5,10,Sunday,6,4,Medium,medium,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512658,524198,580537,23266,SET OF 3 WOODEN STOCKING DECORATION,1,2011-12-04 16:08:00,1.25,0,UK,1.25,2011,12,4,16,Sunday,6,4,Low,small,35
512659,524199,580537,23267,SET OF 4 SANTA PLACE SETTINGS,1,2011-12-04 16:08:00,1.25,0,UK,1.25,2011,12,4,16,Sunday,6,4,Low,small,29
512660,524200,580537,23312,VINTAGE CHRISTMAS GIFT SACK,2,2011-12-04 16:08:00,4.15,0,UK,8.30,2011,12,4,16,Sunday,6,4,Low,small,27
512661,524201,580537,23319,BOX OF 6 MINI 50'S CRACKERS,1,2011-12-04 16:08:00,2.49,0,UK,2.49,2011,12,4,16,Sunday,6,4,Low,small,27
512662,524202,580537,23320,GIANT 50'S CHRISTMAS CRACKER,2,2011-12-04 16:08:00,1.25,0,UK,2.50,2011,12,4,16,Sunday,6,4,Low,small,28

# Task 49: Display the top 10 transactions by TotalPrice.

In [ ]:
top10_transactions = df.sort_values(by='TotalPrice', ascending=False).head(10)
top10_transactions

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,year,month,day,hour,DayOfWeek,DayOfWeekNum,Quarter,RevenueCategory,ordersize,lengthofprodname
528623,540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,12,9,9,Friday,4,4,High,Large,27
60250,61619,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,Tuesday,1,1,High,Large,30
217306,222680,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,6,10,15,Friday,4,2,High,Large,30
14715,15017,537632,AMAZONFEE,AMAZON FEE,1,2010-12-07 15:08:00,13541.33,0,UK,13541.33,2010,12,7,15,Tuesday,1,4,High,small,10
292815,299982,A563185,B,ADJUST BAD DEBT,1,2011-08-12 14:50:00,11062.06,0,UK,11062.06,2011,8,12,14,Friday,4,3,High,small,15
169097,173382,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,5,3,13,Tuesday,1,2,High,small,7
340186,348325,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,9,20,11,Tuesday,1,3,High,Large,35
51432,52711,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749,UK,6539.40,2011,1,11,12,Tuesday,1,1,High,Large,34
156615,160546,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749,UK,6539.40,2011,4,18,13,Monday,0,2,High,Large,34
411682,421601,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646,Netherlands,4992.00,2011,10,27,12,Thursday,3,4,High,Large,18

# Task 50: Display the bottom 15 transactions by TotalPrice.

In [ ]:
bottom_15_transaction=df.sort_values(by='TotalPrice',ascending=False).tail(15)
bottom_15_transaction

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,year,month,day,hour,DayOfWeek,DayOfWeekNum,Quarter,RevenueCategory,ordersize,lengthofprodname
377431,386534,570238,16048,TEATIME ROUND PENCIL SHARPENER,1,2011-10-09 15:01:00,0.120,16332,UK,0.120,2011,10,9,15,Sunday,6,4,Low,small,31
434936,445260,574831,16008,SMALL FOLDING SCISSOR(POINTED EDGE),1,2011-11-07 11:26:00,0.120,15522,UK,0.120,2011,11,7,11,Monday,0,4,Low,small,35
448453,459026,575856,16219,HOUSE SHAPE PENCIL SHARPENER,2,2011-11-11 12:28:00,0.060,16386,UK,0.120,2011,11,11,12,Friday,4,4,Low,small,28
317269,324975,565426,21403,BLUE EGG SPOON,1,2011-09-04 12:41:00,0.120,12851,UK,0.120,2011,9,4,12,Sunday,6,3,Low,small,15
269539,276196,561036,85204,HANGING WOOD AND FELT FLOWER,1,2011-07-24 11:54:00,0.120,13137,UK,0.120,2011,7,24,11,Sunday,6,3,Low,small,28
250840,257038,559509,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-07-08 15:25:00,0.100,15920,UK,0.100,2011,7,8,15,Friday,4,3,Low,small,30
486634,497822,578479,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-11-24 12:48:00,0.100,15858,UK,0.100,2011,11,24,12,Thursday,3,4,Low,small,30
235542,241349,558198,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-06-27 12:49:00,0.100,14104,UK,0.100,2011,6,27,12,Monday,0,2,Low,small,30
278235,285080,561894,M,MANUAL,1,2011-07-31 15:00:00,0.080,14456,UK,0.080,2011,7,31,15,Sunday,6,3,Low,small,6
489107,500313,578757,16216,LETTER SHAPE PENCIL SHARPENER,1,2011-11-25 11:41:00,0.060,12748,UK,0.060,2011,11,25,11,Friday,4,4,Low,small,29
414020,423991,573174,16218,CARTOON PENCIL SHARPENERS,1,2011-10-28 10:25:00,0.060,0,UK,0.060,2011,10,28,10,Friday,4,4,Low,small,26
272367,279045,561226,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-07-26 10:13:00,0.001,15618,UK,0.001,2011,7,26,10,Tuesday,1,3,Low,small,26
153304,157195,550193,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-04-15 09:27:00,0.001,13952,UK,0.001,2011,4,15,9,Friday,4,2,Low,small,26
353323,361741,568375,BANK CHARGES,BANK CHARGES,1,2011-09-26 17:01:00,0.001,13405,UK,0.001,2011,9,26,17,Monday,0,3,Low,small,12
351480,359871,568200,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 14:58:00,0.001,16198,UK,0.001,2011,9,25,14,Sunday,6,3,Low,small,26

# Task 51: Find all transactions from either UK, Germany, or France.

In [ ]:
df_transaction = df[(df['Country']=='UK') | (df['Country']=='Germany') | (df['Country']=='France')]
df_transaction

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,year,month,day,hour,DayOfWeek,DayOfWeekNum,Quarter,RevenueCategory,ordersize,lengthofprodname
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,Wednesday,2,4,Medium,medium,34
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,2,4,Medium,medium,19
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,Wednesday,2,4,Medium,medium,30
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,2,4,Medium,medium,35
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,2,4,Medium,medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530099,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,4,4,Medium,medium,27
530100,541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,4,4,Medium,medium,28
530101,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,4,Medium,small,29
530102,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,4,Medium,small,31
530103,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,4,4,Medium,small,29

# Task 52: Find transactions where TotalPrice is above the 95th percentile.

In [ ]:
high_value_transactions = df[df['TotalPrice'] > df['TotalPrice'].quantile(0.95)]
high_value_transactions

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,year,month,day,hour,DayOfWeek,DayOfWeekNum,Quarter,RevenueCategory,ordersize,lengthofprodname
26,26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583,France,90.0,2010,12,1,8,Wednesday,2,4,Medium,Large,25
27,27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583,France,90.0,2010,12,1,8,Wednesday,2,4,Medium,Large,25
34,34,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,24,2010-12-01 08:45:00,2.95,12583,France,70.8,2010,12,1,8,Wednesday,2,4,Medium,Large,35
40,40,536370,22900,SET 2 TEA TOWELS I LOVE LONDON,24,2010-12-01 08:45:00,2.95,12583,France,70.8,2010,12,1,8,Wednesday,2,4,Medium,Large,32
46,46,536371,22086,PAPER CHAIN KIT 50'S CHRISTMAS,80,2010-12-01 09:00:00,2.55,13748,UK,204.0,2010,12,1,9,Wednesday,2,4,High,Large,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530030,541835,581579,23581,JUMBO BAG PAISLEY PARK,40,2011-12-09 12:19:00,1.79,17581,UK,71.6,2011,12,9,12,Friday,4,4,Medium,Large,22
530061,541866,581583,85038,6 CHOCOLATE LOVE HEART T-LIGHTS,36,2011-12-09 12:23:00,1.85,13777,UK,66.6,2011,12,9,12,Friday,4,4,Medium,Large,31
530063,541868,581584,85038,6 CHOCOLATE LOVE HEART T-LIGHTS,48,2011-12-09 12:25:00,1.85,13777,UK,88.8,2011,12,9,12,Friday,4,4,Medium,Large,31
530087,541892,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113,UK,214.8,2011,12,9,12,Friday,4,4,High,Large,29
530088,541893,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113,UK,70.8,2011,12,9,12,Friday,4,4,Medium,medium,21

# PART G: Sorting Operations

# Task 53: Sort the entire dataset by InvoiceDate in ascending order.

In [ ]:
df.sort_values(by='InvoiceDate',ascending=True,inplace=True)
df

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,year,month,day,hour,DayOfWeek,DayOfWeekNum,Quarter,RevenueCategory,ordersize,lengthofprodname
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,Wednesday,2,4,Medium,medium,34
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,2,4,Medium,medium,19
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,Wednesday,2,4,Medium,medium,30
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,2,4,Medium,medium,35
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,2,4,Medium,medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530091,541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,12,9,12,Friday,4,4,Medium,medium,25
530090,541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,12,9,12,Friday,4,4,Medium,medium,30
530102,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,4,Medium,small,31
530095,541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680,France,15.00,2011,12,9,12,Friday,4,4,Medium,small,26
530103,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,4,4,Medium,small,29

# Task 54: Sort the dataset by TotalPrice in descending order.

In [ ]:
df.sort_values(by='TotalPrice',ascending=False)

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,year,month,day,hour,DayOfWeek,DayOfWeekNum,Quarter,RevenueCategory,ordersize,lengthofprodname
528623,540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.080,16446,UK,168469.600,2011,12,9,9,Friday,4,4,High,Large,27
60250,61619,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.040,12346,UK,77183.600,2011,1,18,10,Tuesday,1,1,High,Large,30
217306,222680,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.500,15098,UK,38970.000,2011,6,10,15,Friday,4,2,High,Large,30
14715,15017,537632,AMAZONFEE,AMAZON FEE,1,2010-12-07 15:08:00,13541.330,0,UK,13541.330,2010,12,7,15,Tuesday,1,4,High,small,10
292815,299982,A563185,B,ADJUST BAD DEBT,1,2011-08-12 14:50:00,11062.060,0,UK,11062.060,2011,8,12,14,Friday,4,3,High,small,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489107,500313,578757,16216,LETTER SHAPE PENCIL SHARPENER,1,2011-11-25 11:41:00,0.060,12748,UK,0.060,2011,11,25,11,Friday,4,4,Low,small,29
153304,157195,550193,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-04-15 09:27:00,0.001,13952,UK,0.001,2011,4,15,9,Friday,4,2,Low,small,26
351480,359871,568200,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 14:58:00,0.001,16198,UK,0.001,2011,9,25,14,Sunday,6,3,Low,small,26
353323,361741,568375,BANK CHARGES,BANK CHARGES,1,2011-09-26 17:01:00,0.001,13405,UK,0.001,2011,9,26,17,Monday,0,3,Low,small,12
272367,279045,561226,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-07-26 10:13:00,0.001,15618,UK,0.001,2011,7,26,10,Tuesday,1,3,Low,small,26

# Task 55: Sort by Country (ascending) and then by TotalPrice (descending).

In [ ]:
df_sorted=df.sort_values(by=['Country','TotalPrice'],ascending=[True,False])
df_sorted

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,year,month,day,hour,DayOfWeek,DayOfWeekNum,Quarter,RevenueCategory,ordersize,lengthofprodname
457455,468139,576394,23084,RABBIT NIGHT LIGHT,960,2011-11-15 10:32:00,1.79,12415,Australia,1718.40,2011,11,15,10,Tuesday,1,4,High,Large,18
297617,304887,563614,22940,FELTCRAFT CHRISTMAS FAIRY,336,2011-08-18 08:51:00,3.75,12415,Australia,1260.00,2011,8,18,8,Thursday,3,3,High,Large,25
105512,108007,545475,21217,RED RETROSPOT ROUND CAKE TINS,120,2011-03-03 10:59:00,8.95,12415,Australia,1074.00,2011,3,3,10,Thursday,3,1,High,Large,29
297687,304957,563614,23314,VINTAGE CHRISTMAS TABLECLOTH,100,2011-08-18 08:51:00,10.39,12415,Australia,1039.00,2011,8,18,8,Thursday,3,3,High,Large,28
44433,45541,540267,22720,SET OF 3 CAKE TINS PANTRY DESIGN,240,2011-01-06 11:12:00,4.25,12415,Australia,1020.00,2011,1,6,11,Thursday,3,1,High,Large,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315726,323400,565303,22541,MINI JIGSAW LEAP FROG,1,2011-09-02 12:17:00,0.42,0,Unspecified,0.42,2011,9,2,12,Friday,4,3,Low,small,21
315727,323401,565303,22540,MINI JIGSAW CIRCUS PARADE,1,2011-09-02 12:17:00,0.42,0,Unspecified,0.42,2011,9,2,12,Friday,4,3,Low,small,26
275978,282797,561658,47348A,FUSCHIA VOILE POINTY SHOE DEC,1,2011-07-28 16:06:00,0.39,12743,Unspecified,0.39,2011,7,28,16,Thursday,3,3,Low,small,29
276029,282849,561661,22396,MAGNETS PACK OF 4 RETRO PHOTO,1,2011-07-28 16:21:00,0.39,12743,Unspecified,0.39,2011,7,28,16,Thursday,3,3,Low,small,29
276003,282823,561661,79063C,"RETRO PILL BOX KEY CHAIN,THE KING",1,2011-07-28 16:21:00,0.19,12743,Unspecified,0.19,2011,7,28,16,Thursday,3,3,Low,small,33

# Task 56: Find the 20 highest-value transactions.

In [ ]:
high_value_transactions=df.sort_values(by='TotalPrice',ascending=False).head(20)
high_value_transactions

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,year,month,day,hour,DayOfWeek,DayOfWeekNum,Quarter,RevenueCategory,ordersize,lengthofprodname
528623,540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,12,9,9,Friday,4,4,High,Large,27
60250,61619,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,Tuesday,1,1,High,Large,30
217306,222680,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,6,10,15,Friday,4,2,High,Large,30
14715,15017,537632,AMAZONFEE,AMAZON FEE,1,2010-12-07 15:08:00,13541.33,0,UK,13541.33,2010,12,7,15,Tuesday,1,4,High,small,10
292815,299982,A563185,B,ADJUST BAD DEBT,1,2011-08-12 14:50:00,11062.06,0,UK,11062.06,2011,8,12,14,Friday,4,3,High,small,15
169097,173382,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,5,3,13,Tuesday,1,2,High,small,7
340186,348325,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,9,20,11,Tuesday,1,3,High,Large,35
156615,160546,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749,UK,6539.40,2011,4,18,13,Monday,0,2,High,Large,34
51432,52711,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749,UK,6539.40,2011,1,11,12,Tuesday,1,1,High,Large,34
411682,421601,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646,Netherlands,4992.00,2011,10,27,12,Thursday,3,4,High,Large,18
51430,52709,540815,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-01-11 12:55:00,2.55,15749,UK,4921.50,2011,1,11,12,Tuesday,1,1,High,Large,34
457127,467804,576365,22086,PAPER CHAIN KIT 50'S CHRISTMAS,688,2011-11-14 17:55:00,6.95,0,UK,4781.60,2011,11,14,17,Monday,0,4,High,Large,31
156611,160542,550461,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-04-18 13:20:00,2.40,15749,UK,4632.00,2011,4,18,13,Monday,0,2,High,Large,34
51493,52772,540818,48185,DOORMAT FAIRY CAKE,670,2011-01-11 12:57:00,6.75,15749,UK,4522.50,2011,1,11,12,Tuesday,1,1,High,Large,18
290589,297723,562955,DOT,DOTCOM POSTAGE,1,2011-08-11 10:14:00,4505.17,0,UK,4505.17,2011,8,11,10,Thursday,3,3,High,small,14
238453,244419,558526,23173,REGENCY TEAPOT ROSES,540,2011-06-30 11:01:00,8.15,17949,UK,4401.00,2011,6,30,11,Thursday,3,2,High,Large,21
261652,268028,560373,M,MANUAL,1,2011-07-18 12:30:00,4287.63,0,UK,4287.63,2011,7,18,12,Monday,0,3,High,small,6
156613,160544,550461,48185,DOORMAT FAIRY CAKE,670,2011-04-18 13:20:00,6.35,15749,UK,4254.50,2011,4,18,13,Monday,0,2,High,Large,18
284256,291249,562439,84879,ASSORTED COLOUR BIRD ORNAMENT,2880,2011-08-04 18:06:00,1.45,12931,UK,4176.00,2011,8,4,18,Thursday,3,3,High,Large,29
412410,422351,573077,M,MANUAL,1,2011-10-27 14:13:00,4161.06,12536,France,4161.06,2011,10,27,14,Thursday,3,4,High,small,6

# Task 57: Find the 20 lowest-value transactions (excluding returns).

In [ ]:
lowest_value_transactions=df.sort_values(by='TotalPrice',ascending=True).head(20)
lowest_value_transactions

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,year,month,day,hour,DayOfWeek,DayOfWeekNum,Quarter,RevenueCategory,ordersize,lengthofprodname
153304,157195,550193,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-04-15 09:27:00,0.001,13952,UK,0.001,2011,4,15,9,Friday,4,2,Low,small,26
272367,279045,561226,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-07-26 10:13:00,0.001,15618,UK,0.001,2011,7,26,10,Tuesday,1,3,Low,small,26
353323,361741,568375,BANK CHARGES,BANK CHARGES,1,2011-09-26 17:01:00,0.001,13405,UK,0.001,2011,9,26,17,Monday,0,3,Low,small,12
351480,359871,568200,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 14:58:00,0.001,16198,UK,0.001,2011,9,25,14,Sunday,6,3,Low,small,26
489107,500313,578757,16216,LETTER SHAPE PENCIL SHARPENER,1,2011-11-25 11:41:00,0.060,12748,UK,0.060,2011,11,25,11,Friday,4,4,Low,small,29
414020,423991,573174,16218,CARTOON PENCIL SHARPENERS,1,2011-10-28 10:25:00,0.060,0,UK,0.060,2011,10,28,10,Friday,4,4,Low,small,26
278235,285080,561894,M,MANUAL,1,2011-07-31 15:00:00,0.080,14456,UK,0.080,2011,7,31,15,Sunday,6,3,Low,small,6
486634,497822,578479,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-11-24 12:48:00,0.100,15858,UK,0.100,2011,11,24,12,Thursday,3,4,Low,small,30
235542,241349,558198,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-06-27 12:49:00,0.100,14104,UK,0.100,2011,6,27,12,Monday,0,2,Low,small,30
250840,257038,559509,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-07-08 15:25:00,0.100,15920,UK,0.100,2011,7,8,15,Friday,4,3,Low,small,30
377431,386534,570238,16048,TEATIME ROUND PENCIL SHARPENER,1,2011-10-09 15:01:00,0.120,16332,UK,0.120,2011,10,9,15,Sunday,6,4,Low,small,31
469454,480319,577297,16048,TEATIME ROUND PENCIL SHARPENER,1,2011-11-18 12:48:00,0.120,14593,UK,0.120,2011,11,18,12,Friday,4,4,Low,small,31
398100,407740,571909,16048,TEATIME ROUND PENCIL SHARPENER,1,2011-10-19 15:08:00,0.120,15006,UK,0.120,2011,10,19,15,Wednesday,2,4,Low,small,31
400847,410501,572103,16048,TEATIME ROUND PENCIL SHARPENER,1,2011-10-20 15:57:00,0.120,17571,UK,0.120,2011,10,20,15,Thursday,3,4,Low,small,31
432543,442851,574682,20668,DISCO BALL CHRISTMAS DECORATION,1,2011-11-06 12:44:00,0.120,14963,UK,0.120,2011,11,6,12,Sunday,6,4,Low,small,31
154624,158518,550298,20668,DISCO BALL CHRISTMAS DECORATION,1,2011-04-15 16:11:00,0.120,17346,UK,0.120,2011,4,15,16,Friday,4,2,Low,small,31
519261,530875,580884,22422,TOOTHPASTE TUBE PEN,1,2011-12-06 12:21:00,0.120,15907,UK,0.120,2011,12,6,12,Tuesday,1,4,Low,small,19
269539,276196,561036,85204,HANGING WOOD AND FELT FLOWER,1,2011-07-24 11:54:00,0.120,13137,UK,0.120,2011,7,24,11,Sunday,6,3,Low,small,28
402797,412503,572291,47518F,ICON PLACEMAT POP ART ELVIS,1,2011-10-23 12:46:00,0.120,16931,UK,0.120,2011,10,23,12,Sunday,6,4,Low,small,27
448453,459026,575856,16219,HOUSE SHAPE PENCIL SHARPENER,2,2011-11-11 12:28:00,0.060,16386,UK,0.120,2011,11,11,12,Friday,4,4,Low,small,28

# PART H: Aggregation and Summary Statistics

# Task 58: Calculate the total revenue generated across all transactions.

In [ ]:
total_revenue = df['TotalPrice'].sum()
total_revenue

np.float64(10666684.544000002)

# Task 59: Calculate the average transaction value.

In [ ]:
average=df['TotalPrice'].mean()
average

np.float64(20.12187145163968)

# Task 60: Find the maximum and minimum transaction values.

In [ ]:
max_transaction=df['TotalPrice'].max()
max_transaction
min_transaction=df['TotalPrice'].min()
min_transaction

0.001

# Task 61: Calculate the total number of unique customers.

In [ ]:
total_unique_customers = df['CustomerID'].nunique()
total_unique_customers

4339

# Task 62: Calculate the total number of unique products sold.

In [ ]:
total_unique_prod_sold=df['ProductName'].nunique()
total_unique_prod_sold

4026

# Task 63: Find out how many unique countries are represented in the data.

In [ ]:
unique_country=df['Country'].nunique()
unique_country

38

# Task 64: Calculate the average number of items per transaction.

In [ ]:
average_items_per_transaction = df['Quantity'].mean()
average_items_per_transaction

np.float64(10.542037034242338)

# Task 65: Find which product appears most frequently in transactions.

In [ ]:
df['ProductName'].value_counts().head(1)

ProductName
WHITE HANGING HEART T-LIGHT HOLDER    2323
Name: count, dtype: int64

# PART I: Country-wise Analysis

# Task 66: Calculate total revenue for each country

In [ ]:
total_revenue=df.groupby('Country')['TotalPrice'].sum()
total_revenue

Country
Australia                138521.310
Austria                   10198.680
Bahrain                     754.140
Belgium                   41196.340
Brazil                     1143.600
Canada                     3666.380
Channel Islands           20450.440
Cyprus                    13590.380
Czech Republic              826.740
Denmark                   18955.340
European Community         1300.250
Finland                   22546.080
France                   209715.110
Germany                  228867.140
Greece                     4760.520
Hong Kong                 15691.800
Iceland                    4310.000
IreLand                  283453.960
Israel                     8135.260
Italy                     17483.240
Japan                     37416.370
Lebanon                    1693.880
Lithuania                  1661.060
Malta                      2725.590
Netherlands              285446.340
Norway                    36165.440
Poland                     7334.650
Portugal                  33747.100
RSA                        1002.310
Saudi Arabia                145.920
Singapore                 21279.290
Spain                     61577.110
Sweden                    38378.330
Switzerland               57089.900
UK                      9025222.084
USA                        3580.390
United Arab Emirates       1902.280
Unspecified                4749.790
Name: TotalPrice, dtype: float64

# Task 67: Find the top 10 countries by total revenue.

In [ ]:
top_10_country=df.groupby('Country')['TotalPrice'].sum().sort_values(ascending=False).head(10)
top_10_country

Country
UK             9025222.084
Netherlands     285446.340
IreLand         283453.960
Germany         228867.140
France          209715.110
Australia       138521.310
Spain            61577.110
Switzerland      57089.900
Belgium          41196.340
Sweden           38378.330
Name: TotalPrice, dtype: float64

# Task 68: Calculate the number of transactions per country.

In [ ]:
numberoftransactions=df.groupby('Country')['TotalPrice'].count()
numberoftransactions

Country
Australia                 1182
Austria                    398
Bahrain                     18
Belgium                   2031
Brazil                      32
Canada                     151
Channel Islands            748
Cyprus                     614
Czech Republic              25
Denmark                    380
European Community          60
Finland                    685
France                    8407
Germany                   9040
Greece                     145
Hong Kong                  284
Iceland                    182
IreLand                   7890
Israel                     295
Italy                      758
Japan                      321
Lebanon                     45
Lithuania                   35
Malta                      112
Netherlands               2359
Norway                    1071
Poland                     330
Portugal                  1501
RSA                         57
Saudi Arabia                 9
Singapore                  222
Spain                     2484
Sweden                     451
Switzerland               1966
UK                      485123
USA                        179
United Arab Emirates        68
Unspecified                446
Name: TotalPrice, dtype: int64

# Task 69: Calculate the average transaction value for each country.

In [ ]:
average=df.groupby('Country')['TotalPrice'].mean()
average

Country
Australia               117.192310
Austria                  25.624824
Bahrain                  41.896667
Belgium                  20.283772
Brazil                   35.737500
Canada                   24.280662
Channel Islands          27.340160
Cyprus                   22.134169
Czech Republic           33.069600
Denmark                  49.882474
European Community       21.670833
Finland                  32.913985
France                   24.945297
Germany                  25.317162
Greece                   32.831172
Hong Kong                55.252817
Iceland                  23.681319
IreLand                  35.925724
Israel                   27.577153
Italy                    23.064960
Japan                   116.561900
Lebanon                  37.641778
Lithuania                47.458857
Malta                    24.335625
Netherlands             121.003111
Norway                   33.767918
Poland                   22.226212
Portugal                 22.483078
RSA                      17.584386
Saudi Arabia             16.213333
Singapore                95.852658
Spain                    24.789497
Sweden                   85.096075
Switzerland              29.038606
UK                       18.603987
USA                      20.002179
United Arab Emirates     27.974706
Unspecified              10.649753
Name: TotalPrice, dtype: float64

# Task 70: Find which country has the highest average order value

In [ ]:
country_avg = df.groupby('Country')['TotalPrice'].mean()
highest_avg_country = country_avg.idxmax()   # Country name
highest_avg_value = country_avg.max()        # Average value
highest_avg_country, highest_avg_value

('Netherlands', 121.00311148791862)

# Task 71: Calculate the total quantity of products sold to each country.

In [ ]:
total_qty=df.groupby('Country')['Quantity'].sum()
total_qty

Country
Australia                 83901
Austria                    4881
Bahrain                     314
Belgium                   23237
Brazil                      356
Canada                     2763
Channel Islands            9491
Cyprus                     6361
Czech Republic              671
Denmark                    8235
European Community          499
Finland                   10704
France                   112103
Germany                  119261
Greece                     1557
Hong Kong                  4773
Iceland                    2458
IreLand                  147173
Israel                     4409
Italy                      8112
Japan                     26016
Lebanon                     386
Lithuania                   652
Malta                       970
Netherlands              200361
Norway                    19336
Poland                     3684
Portugal                  16258
RSA                         351
Saudi Arabia                 80
Singapore                  5241
Spain                     27940
Sweden                    36083
Switzerland               30629
UK                      4662390
USA                        2458
United Arab Emirates        982
Unspecified                3300
Name: Quantity, dtype: int64

# Task 72: Find the country with the most unique customers.

In [ ]:
unique_customers=df.groupby('Country')['CustomerID'].nunique()
unique_customers

Country
Australia                  9
Austria                   11
Bahrain                    3
Belgium                   25
Brazil                     1
Canada                     4
Channel Islands            9
Cyprus                     8
Czech Republic             1
Denmark                    9
European Community         1
Finland                   12
France                    88
Germany                   94
Greece                     4
Hong Kong                  1
Iceland                    1
IreLand                    4
Israel                     4
Italy                     14
Japan                      8
Lebanon                    1
Lithuania                  1
Malta                      2
Netherlands                9
Norway                    10
Poland                     6
Portugal                  20
RSA                        1
Saudi Arabia               1
Singapore                  1
Spain                     30
Sweden                     8
Switzerland               22
UK                      3921
USA                        4
United Arab Emirates       2
Unspecified                5
Name: CustomerID, dtype: int64

# PART J: Time-based Analysis

# Task 73: Calculate total revenue for each month

In [ ]:
total_revenue=df.groupby('month')['TotalPrice'].sum()
total_revenue

month
1      691364.560
2      523631.890
3      717639.360
4      537808.621
5      770536.020
6      761739.900
7      719221.191
8      759138.380
9     1058590.172
10    1154979.300
11    1509496.330
12    1462538.820
Name: TotalPrice, dtype: float64

# Task 74: Find which month had the highest sales

In [ ]:
highest_sales=df.groupby('month')['TotalPrice'].sum().idxmax()
highest_sales

np.int32(11)

# Task 75: Calculate revenue for each quarter.

In [ ]:
revenue_per_quarter = df.groupby('Quarter')['TotalPrice'].sum()
revenue_per_quarter

Quarter
1    1932635.810
2    2070084.541
3    2536949.743
4    4127014.450
Name: TotalPrice, dtype: float64

# Task 76: Calculate the number of transactions per day of the week

In [ ]:
no_of_transaction_perdayofweek=df.groupby('DayOfWeek')['TotalPrice'].count()
no_of_transaction_perdayofweek

DayOfWeek
Friday        80281
Monday        93136
Sunday        63905
Thursday     101007
Tuesday       99460
Wednesday     92315
Name: TotalPrice, dtype: int64

# Task 77: Find which day of the week has the highest average revenue.

In [ ]:
DAW_highest_revenue=df.groupby('DayOfWeek')['TotalPrice'].mean().idxmax()
DAW_highest_revenue

'Friday'

# Task 78: Calculate hourly sales patterns (revenue by hour of day)

In [ ]:
Hourlysales=df.groupby('hour')['TotalPrice'].sum()
Hourlysales

hour
6           4.250
7       31059.210
8      283868.520
9      990267.821
10    1446742.701
11    1239954.440
12    1444245.880
13    1265736.300
14    1181812.371
15    1352972.180
16     754006.560
17     461603.491
18     144813.050
19      50665.010
20      18932.760
Name: TotalPrice, dtype: float64

# Task 79: Compare sales between 2010 and 2011.

In [ ]:
sales_2010_2011 = df[(df['year'] == 2010) | (df['year'] == 2011)].groupby('year')['TotalPrice'].sum()
sales_2010_2011

year
2010     823746.140
2011    9842938.404
Name: TotalPrice, dtype: float64

# Task 80: Calculate month-over-month revenue growth rate.

In [ ]:
month=df.groupby('month')['TotalPrice'].sum().pct_change()*100
month

month
1           NaN
2    -24.261103
3     37.050354
4    -25.058650
5     43.273274
6     -1.141559
7     -5.581788
8      5.550057
9     39.446272
10     9.105424
11    30.694665
12    -3.110807
Name: TotalPrice, dtype: float64

# PART K: Customer Analysis

# Task 81: Calculate total spending for each customer.

In [ ]:
total_spending=df.groupby('CustomerID')['TotalPrice'].sum()
total_spending

CustomerID
0        1755276.64
12346      77183.60
12347       4310.00
12348       1797.24
12349       1757.55
            ...
18280        180.60
18281         80.82
18282        178.05
18283       2094.88
18287       1837.28
Name: TotalPrice, Length: 4339, dtype: float64

# Task 82: Find the top 20 customers by total spending.

In [ ]:
total_spending=df.groupby('CustomerID')['TotalPrice'].sum().sort_values(ascending=False).head(20)
total_spending

CustomerID
0        1755276.64
14646     280206.02
18102     259657.30
17450     194550.79
16446     168472.50
14911     143825.06
12415     124914.53
14156     117379.63
17511      91062.38
16029      81024.84
12346      77183.60
16684      66653.56
14096      65164.79
13694      65039.62
15311      60767.90
13089      58825.83
17949      58510.48
15769      56252.72
15061      54534.14
14298      51527.30
Name: TotalPrice, dtype: float64

# Task 83: Calculate the number of transactions per customer.

In [ ]:
nooftransactionspercustomer = df.groupby('CustomerID')['InvoiceNo'].count()
nooftransactionspercustomer

CustomerID
0        132220
12346         1
12347       182
12348        31
12349        73
          ...
18280        10
18281         7
18282        12
18283       756
18287        70
Name: InvoiceNo, Length: 4339, dtype: int64

# Task 84: Find the average order value for each customer.

In [ ]:
average_order=df.groupby('CustomerID')['TotalPrice'].mean()
average_order
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 530104 entries, 0 to 530103
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   index             530104 non-null  int64
 1   InvoiceNo         530104 non-null  object
 2   StockCode         530104 non-null  object
 3   ProductName       530104 non-null  object
 4   Quantity          530104 non-null  int64
 5   InvoiceDate       530104 non-null  datetime64[ns]
 6   UnitPrice         530104 non-null  float64
 7   CustomerID        530104 non-null  int64
 8   Country           530104 non-null  object
 9   TotalPrice        530104 non-null  float64
 10  year              530104 non-null  int32
 11  month             530104 non-null  int32
 12  day               530104 non-null  int32
 13  hour              530104 non-null  int32
 14  DayOfWeek         530104 non-null  object
 15  DayOfWeekNum      530104 non-null  int32
 16  Quarter           530104 non-null  int32
 17  RevenueCategory   530104 non-null  object
 18  ordersize         530104 non-null  object
 19  lengthofprodname  530104 non-null  int64
dtypes: datetime64[ns](1), float64(2), int32(6), int64(4), object(7)
memory usage: 72.8+ MB

# Task 85: Identify customers who have made only one purchase

In [ ]:
one_purchase_customers = df.groupby('CustomerID').size() == 1
print(one_purchase_customers.sum())

71

# Task 86: Find customers who spent more than Â£10,000 in total.

In [ ]:
customer = df.groupby('CustomerID')['TotalPrice'].sum() > 10000
total_customers = customer[customer].index
# print(total_customers)
print(customer.sum())

105

# Task 87: Calculate the average number of days between purchases for each customer.

In [ ]:
avg_days = df.sort_values(['CustomerID','InvoiceDate']).groupby('CustomerID')['InvoiceDate'].diff().dt.days.groupby(df['CustomerID']).mean()
avg_days
#DOUBT

CustomerID
0         0.000900
12346          NaN
12347     2.000000
12348     9.400000
12349     0.000000
           ...
18280     0.000000
18281     0.000000
18282    10.727273
18283     0.433113
18287     2.275362
Name: InvoiceDate, Length: 4339, dtype: float64

# PART L: Product Analysis
# Task 88: Find the top 20 products by revenue.

In [ ]:
top_20_products=df.groupby('ProductName')['TotalPrice'].sum().sort_values(ascending=False).head(20)
top_20_products

ProductName
DOTCOM POSTAGE                        206248.77
REGENCY CAKESTAND 3 TIER              174484.74
PAPER CRAFT , LITTLE BIRDIE           168469.60
WHITE HANGING HEART T-LIGHT HOLDER    106292.77
PARTY BUNTING                          99504.33
JUMBO BAG RED RETROSPOT                94340.05
MEDIUM CERAMIC TOP STORAGE JAR         81700.92
MANUAL                                 78112.82
POSTAGE                                78101.88
RABBIT NIGHT LIGHT                     66964.99
PAPER CHAIN KIT 50'S CHRISTMAS         64952.29
ASSORTED COLOUR BIRD ORNAMENT          59094.93
CHILLI LIGHTS                          54117.76
SPOTTY BUNTING                         42548.13
JUMBO BAG PINK POLKADOT                42436.24
BLACK RECORD COVER FRAME               40652.13
PICNIC BASKET WICKER 60 PIECES         39619.50
DOORMAT KEEP CALM AND COME IN          38166.64
SET OF 3 CAKE TINS PANTRY DESIGN       38158.39
JAM MAKING SET WITH JARS               37128.88
Name: TotalPrice, dtype: float64

# Task 89: Find the top 20 products by quantity sold.

In [ ]:
top_20_products=df.groupby('ProductName')['Quantity'].sum().sort_values(ascending=False).head(20)
top_20_products

ProductName
PAPER CRAFT , LITTLE BIRDIE           80995
MEDIUM CERAMIC TOP STORAGE JAR        78033
WORLD WAR 2 GLIDERS ASSTD DESIGNS     55047
JUMBO BAG RED RETROSPOT               48474
WHITE HANGING HEART T-LIGHT HOLDER    37891
POPCORN HOLDER                        36761
ASSORTED COLOUR BIRD ORNAMENT         36461
PACK OF 72 RETROSPOT CAKE CASES       36419
RABBIT NIGHT LIGHT                    30788
MINI PAINT SET VINTAGE                26633
PACK OF 12 LONDON TISSUES             26135
PACK OF 60 PINK PAISLEY CAKE CASES    24854
VICTORIAN GLASS HANGING T-LIGHT       24304
ASSORTED COLOURS SILK FAN             23826
BROCADE RING PURSE                    23056
RED  HARMONICA IN BOX                 21933
JUMBO BAG PINK POLKADOT               21465
SMALL POPCORN HOLDER                  20160
PAPER CHAIN KIT 50'S CHRISTMAS        19355
LUNCH BAG RED RETROSPOT               19353
Name: Quantity, dtype: int64

# Task 90: Calculate the average price for each product.

In [ ]:
average_price_of_each_product=df.groupby('ProductName')['TotalPrice'].mean()
average_price_of_each_product

ProductName
 4 PURPLE FLOCK DINNER CANDLES       7.092683
 50'S CHRISTMAS GIFT BAG LARGE      18.167674
 DOLLY GIRL BEAKER                  16.152235
 I LOVE LONDON MINI BACKPACK        18.501932
 I LOVE LONDON MINI RUCKSACK         4.150000
                                      ...
ZINC T-LIGHT HOLDER STARS SMALL     15.264836
ZINC TOP  2 DOOR WOODEN SHELF       22.506667
ZINC WILLIE WINKIE  CANDLE STICK     9.976287
ZINC WIRE KITCHEN ORGANISER         14.998125
ZINC WIRE SWEETHEART LETTER TRAY    11.983478
Name: TotalPrice, Length: 4026, dtype: float64

# Task 91: Find products that have been sold to more than 10 different countries.

In [ ]:
product_countries=df.groupby('ProductName')['Country'].nunique()
prod_sold_to_morethan10diffcountries=product_countries[product_countries>10]
prod_sold_to_morethan10diffcountries

ProductName
 DOLLY GIRL BEAKER                     11
 SPACEBOY BABY GIFT SET                13
10 COLOUR SPACEBOY PEN                 13
12 PENCIL SMALL TUBE WOODLAND          12
12 PENCILS SMALL TUBE RED RETROSPOT    12
                                       ..
WRAP PAISLEY PARK                      14
WRAP RED APPLES                        14
WRAP RED VINTAGE DOILY                 12
ZINC FOLKART SLEIGH BELLS              11
ZINC METAL HEART DECORATION            11
Name: Country, Length: 523, dtype: int64

# Task 92: Identify the most expensive and cheapest products.

In [ ]:

most_expensive = df.groupby('ProductName')['UnitPrice'].max().sort_values(ascending=False).head(1)
most_expensive
cheapest = df.groupby('ProductName')['UnitPrice'].min().sort_values().head(1)
cheapest

ProductName
PADS TO MATCH ALL CUSHIONS    0.001
Name: UnitPrice, dtype: float64

# PART M: Advanced Grouping
# Task 93: Calculate total revenue by Country and Year.

In [ ]:
total_revenue=df.groupby(['year','Country'])["TotalPrice"].sum()
total_revenue

year  Country
2010  Australia                  1032.850
      Austria                     277.200
      Bahrain                     205.740
      Belgium                    1809.910
      Channel Islands             363.530
      Cyprus                     1590.820
      Denmark                    1281.500
      Finland                     892.800
      France                     9616.310
      Germany                   15241.140
      Iceland                     711.790
      IreLand                   10033.260
      Italy                       811.500
      Japan                      7705.070
      Lithuania                  1661.060
      Netherlands                8784.480
      Norway                     3787.120
      Poland                      248.160
      Portugal                   2439.970
      Spain                      1843.730
      Sweden                     3834.300
      Switzerland                1304.920
      UK                       748268.980
2011  Australia                137488.460
      Austria                    9921.480
      Bahrain                     548.400
      Belgium                   39386.430
      Brazil                     1143.600
      Canada                     3666.380
      Channel Islands           20086.910
      Cyprus                    11999.560
      Czech Republic              826.740
      Denmark                   17673.840
      European Community         1300.250
      Finland                   21653.280
      France                   200098.800
      Germany                  213626.000
      Greece                     4760.520
      Hong Kong                 15691.800
      Iceland                    3598.210
      IreLand                  273420.700
      Israel                     8135.260
      Italy                     16671.740
      Japan                     29711.300
      Lebanon                    1693.880
      Malta                      2725.590
      Netherlands              276661.860
      Norway                    32378.320
      Poland                     7086.490
      Portugal                  31307.130
      RSA                        1002.310
      Saudi Arabia                145.920
      Singapore                 21279.290
      Spain                     59733.380
      Sweden                    34544.030
      Switzerland               55784.980
      UK                      8276953.104
      USA                        3580.390
      United Arab Emirates       1902.280
      Unspecified                4749.790
Name: TotalPrice, dtype: float64

# Task 94: Calculate average transaction value by Country and Quarter.

In [ ]:
avg_transaction_value = df.groupby(['Country', 'Quarter'])['TotalPrice'].mean()
avg_transaction_value

Country               Quarter
Australia             1          126.349136
                      2          130.685743
                      3           88.479103
                      4          135.968449
Austria               1           57.089231
                                    ...
United Arab Emirates  1           29.641333
                      3           26.658947
Unspecified           2           18.563253
                      3            7.236419
                      4           18.221698
Name: TotalPrice, Length: 124, dtype: float64

# Task 95: Find the number of transactions by Country and Month.

In [ ]:
nooftransactionsbycountrymonth = df.groupby(['Country', 'month']).size()
nooftransactionsbycountrymonth

Country      month
Australia    1        127
             2         89
             3        108
             4         18
             5        116
                     ...
Unspecified  6          9
             7        221
             8         23
             9         66
             11        53
Length: 286, dtype: int64

# Task 96: Calculate total revenue by Day of Week and Hour.

In [ ]:
totalrevenuebydayofweekandhour = df.groupby(['DayOfWeek','hour'])['TotalPrice'].sum()
totalrevenuebydayofweekandhour

DayOfWeek  hour
Friday     7        17284.880
           8        52967.710
           9       329789.371
           10      233497.700
           11      206760.620
                      ...
Wednesday  15      243403.470
           16      128995.430
           17       43729.100
           19        3053.400
           20       13031.500
Name: TotalPrice, Length: 74, dtype: float64

# Task 97: For each country, calculate the sum, mean, maximum, and minimum TotalPrice.

In [ ]:
country_stats = df.groupby('Country')['TotalPrice'].agg(['sum', 'mean', 'max', 'min'])
country_stats

                              sum        mean        max     min
Country
Australia              138521.310  117.192310    1718.40   0.420
Austria                 10198.680   25.624824     360.00   2.880
Bahrain                   754.140   41.896667     205.74  11.600
Belgium                 41196.340   20.283772     165.00   2.500
Brazil                   1143.600   35.737500     175.20  15.000
Canada                   3666.380   24.280662     550.94   2.500
Channel Islands         20450.440   27.340160     408.00   4.560
Cyprus                  13590.380   22.134169     320.69   0.830
Czech Republic            826.740   33.069600      70.80  10.080
Denmark                 18955.340   49.882474     428.40   4.680
European Community       1300.250   21.670833      60.00   7.800
Finland                 22546.080   32.913985     551.20   2.340
France                 209715.110   24.945297    4161.06   0.290
Germany                228867.140   25.317162     876.00   0.390
Greece                   4760.520   32.831172     175.20   3.360
Hong Kong               15691.800   55.252817    2653.95   3.750
Iceland                  4310.000   23.681319     249.60   5.040
IreLand                283453.960   35.925724    2365.20   0.420
Israel                   8135.260   27.577153     350.40   0.950
Italy                   17483.240   23.064960     300.00   2.880
Japan                   37416.370  116.561900    3794.40   0.290
Lebanon                  1693.880   37.641778     153.00  10.200
Lithuania                1661.060   47.458857     122.40  13.200
Malta                    2725.590   24.335625     455.00   2.280
Netherlands            285446.340  121.003111    4992.00   0.390
Norway                  36165.440   33.767918     700.00   2.880
Poland                   7334.650   22.226212     120.00   6.600
Portugal                33747.100   22.483078    1241.98   0.290
RSA                      1002.310   17.584386      38.25   5.040
Saudi Arabia              145.920   16.213333      19.80   5.040
Singapore               21279.290   95.852658    3949.32   2.340
Spain                   61577.110   24.789497    1350.00   0.210
Sweden                  38378.330   85.096075    1188.00   5.040
Switzerland             57089.900   29.038606     360.00   0.420
UK                    9025222.084   18.603987  168469.60   0.001
USA                      3580.390   20.002179      81.36   1.250
United Arab Emirates     1902.280   27.974706     153.00   3.480
Unspecified              4749.790   10.649753      69.36   0.190

# Task 98: For each customer, calculate their total spending, number of orders, and average order value.

In [ ]:
customer_stats = df.groupby('CustomerID').agg(TotalSpending=('TotalPrice', 'sum'),NumOrders=('InvoiceNo', 'nunique'),AvgOrderValue=('TotalPrice','mean'))
customer_stats

            TotalSpending  NumOrders  AvgOrderValue
CustomerID
0              1755276.64       1428      13.275425
12346            77183.60          1   77183.600000
12347             4310.00          7      23.681319
12348             1797.24          4      57.975484
12349             1757.55          1      24.076027
...                   ...        ...            ...
18280              180.60          1      18.060000
18281               80.82          1      11.545714
18282              178.05          2      14.837500
18283             2094.88         16       2.771005
18287             1837.28          3      26.246857

[4339 rows x 3 columns]

# Task 99: For each product, calculate total quantity sold and total revenue generated.

In [ ]:
product_stats=df.groupby('ProductName').agg(totalquantity=('Quantity','sum'),totalrevenue=('TotalPrice','sum'))
product_stats

                                  totalquantity  totalrevenue
ProductName
 4 PURPLE FLOCK DINNER CANDLES              144        290.80
 50'S CHRISTMAS GIFT BAG LARGE             1915       2343.63
 DOLLY GIRL BEAKER                         2455       2891.25
 I LOVE LONDON MINI BACKPACK                389       1628.17
 I LOVE LONDON MINI RUCKSACK                  1          4.15
...                                         ...           ...
ZINC T-LIGHT HOLDER STARS SMALL            5089       4197.83
ZINC TOP  2 DOOR WOODEN SHELF                13        270.08
ZINC WILLIE WINKIE  CANDLE STICK           2934       2713.55
ZINC WIRE KITCHEN ORGANISER                  30        239.97
ZINC WIRE SWEETHEART LETTER TRAY             83        275.62

[4026 rows x 2 columns]

# PART N: Creating Summary Reports

# Task 100: Create a summary table showing monthly sales for each country (countries as rows, months as columns).

In [ ]:
monthly_sales_summary = df.pivot_table(index='Country',columns='month',values='TotalPrice',aggfunc='sum',fill_value=0 )

monthly_sales_summary

month,1,2,3,4,5,6,7,8,9,10,11,12
Country,,,,,,,,,,,,
Australia,9017.71,14695.42,17223.99,771.600,13638.41,25187.77,4964.380,22489.20,5106.730,17150.53,7242.72,1032.85
Austria,0.00,518.36,1708.12,680.780,1249.43,0.00,1191.950,1516.08,0.000,1043.78,1329.78,960.40
Bahrain,0.00,0.00,0.00,0.000,548.40,0.00,0.000,0.00,0.000,0.00,0.00,205.74
Belgium,1200.20,2181.07,3351.98,1989.480,2732.40,4274.82,2475.570,3554.02,4208.020,5685.38,6315.76,3227.64
Brazil,0.00,0.00,0.00,1143.600,0.00,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Canada,0.00,0.00,140.54,0.000,534.24,1171.46,1768.580,51.56,0.000,0.00,0.00,0.00
Channel Islands,675.58,1784.71,3509.33,293.000,1207.24,2060.03,0.000,4896.78,1323.750,2623.32,1514.77,561.93
Cyprus,547.50,4334.24,938.39,0.000,0.00,1109.32,0.000,0.00,196.350,4412.87,460.89,1590.82
Czech Republic,0.00,549.26,0.00,0.000,0.00,0.00,0.000,0.00,0.000,277.48,0.00,0.00
Denmark,0.00,399.22,3978.99,0.000,515.70,3261.15,376.240,213.15,4570.160,1490.76,2699.57,1450.40
European Community,0.00,0.00,0.00,191.400,0.00,432.05,676.800,0.00,0.000,0.00,0.00,0.00
Finland,889.02,205.16,5936.82,1688.920,0.00,329.56,2996.730,1376.50,1105.450,2822.12,3070.24,2125.56
France,17740.12,8515.96,14589.55,5529.610,17614.88,16348.41,10000.190,13810.96,23428.040,33485.45,31758.71,16893.23
Germany,16910.84,9581.05,14392.69,12315.540,25751.20,13274.10,16440.980,19220.77,18091.220,31638.42,28025.02,23225.31
Greece,2661.24,0.00,387.31,609.740,0.00,0.00,421.240,0.00,0.000,0.00,0.00,680.99
Hong Kong,2439.76,0.00,2583.76,1539.640,1966.16,633.96,0.000,2813.95,2653.950,734.52,326.10,0.00
Iceland,475.39,0.00,0.00,636.250,0.00,382.52,0.000,584.91,0.000,1294.32,0.00,936.61
IreLand,21904.19,12248.74,22197.51,7570.500,18008.76,24863.61,42789.850,18353.75,43086.550,24317.92,30738.43,17374.15
Israel,379.84,779.10,0.00,110.000,0.00,0.00,1430.750,4873.81,423.730,138.03,0.00,0.00
Italy,2402.51,256.00,1806.81,737.830,587.45,202.07,147.100,1990.95,279.800,3489.69,4571.08,1011.95
Japan,0.00,5780.81,48.90,6548.500,1351.45,1607.04,3854.400,0.00,112.080,1948.04,8460.08,7705.07
Lebanon,1693.88,0.00,0.00,0.000,0.00,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Lithuania,0.00,0.00,0.00,0.000,0.00,0.00,0.000,0.00,0.000,0.00,0.00,1661.06
Malta,0.00,0.00,0.00,0.000,0.00,863.16,0.000,1119.00,0.000,0.00,743.43,0.00
Netherlands,26611.16,23011.91,22416.49,2976.560,29185.88,26858.09,26.020,40327.81,26937.260,40708.65,25874.01,20512.50
Norway,0.00,630.90,1265.31,0.000,0.00,5886.86,890.070,2025.81,8678.940,3687.23,6527.50,6572.82
Poland,613.22,604.05,317.78,705.840,1522.37,343.65,687.300,401.80,529.250,0.00,1361.23,248.16
Portugal,4055.71,1213.90,2660.85,1687.750,4202.23,884.46,2287.850,1221.40,1433.220,6206.67,2644.90,5248.16
RSA,0.00,0.00,0.00,0.000,0.00,0.00,0.000,0.00,0.000,1002.31,0.00,0.00
Saudi Arabia,0.00,145.92,0.00,0.000,0.00,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Singapore,2053.07,0.00,0.00,8209.580,0.00,0.00,3949.320,0.00,0.000,7067.32,0.00,0.00
Spain,10086.09,2114.50,5363.15,1785.650,3257.60,3333.21,7624.920,3346.91,5189.240,8636.94,8678.96,2159.94
Sweden,3486.32,509.50,4720.58,809.100,2681.98,832.00,6802.090,1400.86,4575.210,5766.16,2722.23,4072.30
Switzerland,4231.23,2654.92,1870.23,2076.940,3610.01,7904.15,3998.610,4969.89,8284.860,8065.18,8118.96,1304.92
UK,561289.98,430027.95,586230.28,476517.761,639314.36,619510.67,601994.841,608047.48,897076.472,938975.01,1325346.21,1340891.07
USA,0.00,0.00,0.00,383.950,0.00,0.00,0.000,0.00,0.000,2311.20,0.00,885.24
United Arab Emirates,0.00,889.24,0.00,0.000,0.00,0.00,0.000,0.00,1013.040,0.00,0.00,0.00
Unspecified,0.00,0.00,0.00,299.100,1055.87,185.78,1425.410,531.03,286.850,0.00,965.75,0.00

# ask 101: Create a summary showing average quantity purchased by country and quarter.

In [ ]:
summary1=df.pivot_table(index='Country',columns='Quarter',values='Quantity',aggfunc='mean')
summary1

Quarter                        1           2          3          4
Country
Australia              76.429012   83.184818  59.692935  63.989305
Austria                33.948718   10.220779   9.531469  10.122302
Bahrain                      NaN   15.294118        NaN  54.000000
Belgium                10.943452   10.663286  11.298419  12.336207
Brazil                       NaN   11.125000        NaN        NaN
Canada                  8.800000   27.517241  13.000000        NaN
Channel Islands        14.855856    9.330645  13.526829  11.487310
Cyprus                 15.181818    7.574468  33.000000   7.606936
Czech Republic         23.066667         NaN        NaN  32.500000
Denmark                28.282051   15.296000  27.683544  22.138686
European Community           NaN    5.290323  11.551724        NaN
Finland                14.523207   18.396226  14.016949  17.458716
France                 14.303571   14.152047  12.955718  12.690499
Germany                12.756511   14.125471  12.868274  13.111873
Greece                 15.092593    8.451613  10.166667   6.555556
Hong Kong              19.344828   17.950355  14.740000  10.942857
Iceland                10.862069   16.166667  12.590909  13.337079
IreLand                20.961307   16.288499  21.752853  16.038156
Israel                 12.866667    5.000000  17.306667   2.911765
Italy                   9.411765   17.727273  10.491379  10.443864
Japan                  29.900990  172.765625  57.488372  83.778761
Lebanon                 8.577778         NaN        NaN        NaN
Lithuania                    NaN         NaN        NaN  18.628571
Malta                        NaN    8.933333   6.945455  15.500000
Netherlands            85.060956   73.619893  88.293561  91.773071
Norway                  8.200000   12.102410  17.917683  21.070881
Poland                 12.048387   10.263636   9.202532  13.683544
Portugal               14.802768    8.229268  16.475490   8.632628
RSA                          NaN         NaN        NaN   6.157895
Saudi Arabia            8.888889         NaN        NaN        NaN
Singapore              19.482143   24.368421  28.800000  17.676471
Spain                  10.692194   10.363874  11.472511  12.000000
Sweden                108.074074   40.306818  88.363636  80.786667
Switzerland            15.943574   20.014085  14.255887  14.285496
UK                      9.601900    9.760967  10.387964   9.100093
USA                          NaN    6.227273        NaN  14.783439
United Arab Emirates   16.533333         NaN  12.789474        NaN
Unspecified                  NaN   14.012048   4.825806  12.094340

## Task 102: Create a table showing the count of transactions in each RevenueCategory by Country.

In [ ]:
# count_of_transactions=df.pivot_table()
df.pivot_table(index='Country',columns='RevenueCategory',values='TotalPrice',aggfunc='count')

RevenueCategory          High       Low    Medium
Country
Australia               445.0      82.0     655.0
Austria                  13.0      37.0     348.0
Bahrain                   2.0       NaN      16.0
Belgium                  16.0     209.0    1806.0
Brazil                    1.0       NaN      31.0
Canada                    2.0      19.0     130.0
Channel Islands          22.0      21.0     705.0
Cyprus                   14.0     150.0     450.0
Czech Republic            NaN       NaN      25.0
Denmark                  43.0      28.0     309.0
European Community        NaN       1.0      59.0
Finland                  42.0      66.0     577.0
France                  165.0    1345.0    6897.0
Germany                 246.0    1162.0    7632.0
Greece                   12.0      17.0     116.0
Hong Kong                14.0      15.0     255.0
Iceland                   3.0      13.0     166.0
IreLand                 466.0     829.0    6595.0
Israel                   14.0      69.0     212.0
Italy                     8.0      44.0     706.0
Japan                   126.0      58.0     137.0
Lebanon                   3.0       NaN      42.0
Lithuania                 1.0       NaN      34.0
Malta                     2.0      12.0      98.0
Netherlands            1132.0     198.0    1029.0
Norway                   43.0      59.0     969.0
Poland                    2.0      25.0     303.0
Portugal                 23.0     390.0    1088.0
RSA                       NaN       3.0      54.0
Saudi Arabia              NaN       1.0       8.0
Singapore                16.0      13.0     193.0
Spain                    73.0     642.0    1769.0
Sweden                  136.0      28.0     287.0
Switzerland              95.0     261.0    1610.0
UK                    10373.0  265775.0  208975.0
USA                       NaN      22.0     157.0
United Arab Emirates      1.0       7.0      60.0
Unspecified               NaN     238.0     208.0

# PART O: Data Transformation

# Task 103: Add a column to each row showing what percentage of the monthly total revenue that transaction represents.

In [ ]:

df['MonthlyRevenuePct'] = df['TotalPrice'] / df.groupby(['year', 'month'])['TotalPrice'].transform('sum') * 100
df

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,...,month,day,hour,DayOfWeek,DayOfWeekNum,Quarter,RevenueCategory,ordersize,lengthofprodname,MonthlyRevenuePct
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,...,12,1,8,Wednesday,2,4,Medium,medium,34,0.001857
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,...,12,1,8,Wednesday,2,4,Medium,medium,19,0.002469
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,...,12,1,8,Wednesday,2,4,Medium,medium,30,0.002671
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,...,12,1,8,Wednesday,2,4,Medium,medium,35,0.002469
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,...,12,1,8,Wednesday,2,4,Medium,medium,30,0.002469
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530091,541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680,France,19.80,...,12,9,12,Friday,4,4,Medium,medium,25,0.003100
530090,541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680,France,19.80,...,12,9,12,Friday,4,4,Medium,medium,30,0.003100
530102,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,...,12,9,12,Friday,4,4,Medium,small,31,0.002599
530095,541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680,France,15.00,...,12,9,12,Friday,4,4,Medium,small,26,0.002348
530103,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,...,12,9,12,Friday,4,4,Medium,small,29,0.002325

# Task 104: Add a column showing each customer's ranking based on their total spending.

In [ ]:
df['CustomerRank'] = df['CustomerID'].map(df.groupby('CustomerID')['TotalPrice'].sum().rank(ascending=False).astype(int))
df

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,...,day,hour,DayOfWeek,DayOfWeekNum,Quarter,RevenueCategory,ordersize,lengthofprodname,MonthlyRevenuePct,CustomerRank
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,...,1,8,Wednesday,2,4,Medium,medium,34,0.001857,249
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,...,1,8,Wednesday,2,4,Medium,medium,19,0.002469,249
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,...,1,8,Wednesday,2,4,Medium,medium,30,0.002671,249
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,...,1,8,Wednesday,2,4,Medium,medium,35,0.002469,249
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,...,1,8,Wednesday,2,4,Medium,medium,30,0.002469,249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530091,541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680,France,19.80,...,9,12,Friday,4,4,Medium,medium,25,0.003100,1842
530090,541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680,France,19.80,...,9,12,Friday,4,4,Medium,medium,30,0.003100,1842
530102,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,...,9,12,Friday,4,4,Medium,small,31,0.002599,1842
530095,541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680,France,15.00,...,9,12,Friday,4,4,Medium,small,26,0.002348,1842
530103,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,...,9,12,Friday,4,4,Medium,small,29,0.002325,1842

# Task 105: Add a column showing the cumulative revenue over time.

In [ ]:
df = df.sort_values('InvoiceDate')
df['CumulativeRevenue'] = df['TotalPrice'].cumsum()
df

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,...,hour,DayOfWeek,DayOfWeekNum,Quarter,RevenueCategory,ordersize,lengthofprodname,MonthlyRevenuePct,CustomerRank,CumulativeRevenue
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,...,8,Wednesday,2,4,Medium,medium,34,0.001857,249,1.530000e+01
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,...,8,Wednesday,2,4,Medium,medium,19,0.002469,249,3.564000e+01
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,...,8,Wednesday,2,4,Medium,medium,30,0.002671,249,5.764000e+01
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,...,8,Wednesday,2,4,Medium,medium,35,0.002469,249,7.798000e+01
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,...,8,Wednesday,2,4,Medium,medium,30,0.002469,249,9.832000e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530101,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,...,12,Friday,4,4,Medium,small,29,0.002599,1842,1.066662e+07
530099,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,...,12,Friday,4,4,Medium,medium,27,0.001597,1842,1.066663e+07
530095,541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680,France,15.00,...,12,Friday,4,4,Medium,small,26,0.002348,1842,1.066665e+07
530089,541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680,France,23.40,...,12,Friday,4,4,Medium,medium,24,0.003663,1842,1.066667e+07
530103,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,...,12,Friday,4,4,Medium,small,29,0.002325,1842,1.066668e+07

# PART P: Combining Analysis
# Task 106: Split the dataset into two parts: 2010 data and 2011 data. Then combine them back together vertically.

In [ ]:
df_2010 = df[df['year'] == 2010]
df_2010
df_2011 = df[df['year'] == 2011]
df_2011
df_combined = pd.concat([df_2010, df_2011], axis=0)
df_combined

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,...,hour,DayOfWeek,DayOfWeekNum,Quarter,RevenueCategory,ordersize,lengthofprodname,MonthlyRevenuePct,CustomerRank,CumulativeRevenue
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,...,8,Wednesday,2,4,Medium,medium,34,0.001857,249,1.530000e+01
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,...,8,Wednesday,2,4,Medium,medium,19,0.002469,249,3.564000e+01
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,...,8,Wednesday,2,4,Medium,medium,30,0.002671,249,5.764000e+01
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,...,8,Wednesday,2,4,Medium,medium,35,0.002469,249,7.798000e+01
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,...,8,Wednesday,2,4,Medium,medium,30,0.002469,249,9.832000e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530101,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,...,12,Friday,4,4,Medium,small,29,0.002599,1842,1.066662e+07
530099,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,...,12,Friday,4,4,Medium,medium,27,0.001597,1842,1.066663e+07
530095,541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680,France,15.00,...,12,Friday,4,4,Medium,small,26,0.002348,1842,1.066665e+07
530089,541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680,France,23.40,...,12,Friday,4,4,Medium,medium,24,0.003663,1842,1.066667e+07
530103,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,...,12,Friday,4,4,Medium,small,29,0.002325,1842,1.066668e+07

# Task 107: Create separate datasets for UK and non-UK transactions. Combine them back horizontally with appropriate labeling.

In [ ]:
df_task107 = pd.concat(
    [
        df[df['Country'] == 'United Kingdom']
        .add_prefix('UK_')
        .assign(UK_TransactionType='UK')
        .reset_index(drop=True),

        df[df['Country'] != 'United Kingdom']
        .add_prefix('NonUK_')
        .assign(NonUK_TransactionType='Non-UK')
        .reset_index(drop=True)
    ],
    axis=1
)
df_task107

,UK_index,UK_InvoiceNo,UK_StockCode,UK_ProductName,UK_Quantity,UK_InvoiceDate,UK_UnitPrice,UK_CustomerID,UK_Country,UK_TotalPrice,...,NonUK_DayOfWeek,NonUK_DayOfWeekNum,NonUK_Quarter,NonUK_RevenueCategory,NonUK_ordersize,NonUK_lengthofprodname,NonUK_MonthlyRevenuePct,NonUK_CustomerRank,NonUK_CumulativeRevenue,NonUK_TransactionType
0,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,Wednesday,2,4,Medium,medium,34,0.001857,249,1.530000e+01,Non-UK
1,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,Wednesday,2,4,Medium,medium,19,0.002469,249,3.564000e+01,Non-UK
2,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,Wednesday,2,4,Medium,medium,30,0.002671,249,5.764000e+01,Non-UK
3,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,Wednesday,2,4,Medium,medium,35,0.002469,249,7.798000e+01,Non-UK
4,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,Wednesday,2,4,Medium,medium,30,0.002469,249,9.832000e+01,Non-UK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530099,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,Friday,4,4,Medium,small,29,0.002599,1842,1.066662e+07,Non-UK
530100,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,Friday,4,4,Medium,medium,27,0.001597,1842,1.066663e+07,Non-UK
530101,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,Friday,4,4,Medium,small,26,0.002348,1842,1.066665e+07,Non-UK
530102,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,Friday,4,4,Medium,medium,24,0.003663,1842,1.066667e+07,Non-UK
530103,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,Friday,4,4,Medium,small,29,0.002325,1842,1.066668e+07,Non-UK

# PART Q: External Data Integration

# Task 108: Create a new dataset with customer information (make up data):

# CustomerID, CustomerName, MembershipLevel (Bronze/Silver/Gold), JoinDate

In [ ]:
import pandas as pd

customer_info = pd.DataFrame({
    'CustomerID': [17850, 13047, 12583, 13748, 15100],
    'CustomerName': ['John Smith', 'Emma Brown', 'Liam Wilson', 'Olivia Taylor', 'Noah Johnson'],
    'MembershipLevel': ['Gold', 'Silver', 'Bronze', 'Gold', 'Silver'],
    'JoinDate': pd.to_datetime(['2010-01-15', '2010-03-10', '2010-06-25', '2011-02-05', '2011-05-20'])
})
customer_info

   CustomerID   CustomerName MembershipLevel   JoinDate
0       17850     John Smith            Gold 2010-01-15
1       13047     Emma Brown          Silver 2010-03-10
2       12583    Liam Wilson          Bronze 2010-06-25
3       13748  Olivia Taylor            Gold 2011-02-05
4       15100   Noah Johnson          Silver 2011-05-20

# Task 109: Combine this customer dataset with your sales data to show customer names and membership levels in transactions

In [ ]:
df_task109 = df.merge(customer_info, on='CustomerID', how='left')
df_task109

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,...,Quarter,RevenueCategory,ordersize,lengthofprodname,MonthlyRevenuePct,CustomerRank,CumulativeRevenue,CustomerName,MembershipLevel,JoinDate
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,...,4,Medium,medium,34,0.001857,249,1.530000e+01,John Smith,Gold,2010-01-15
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,...,4,Medium,medium,19,0.002469,249,3.564000e+01,John Smith,Gold,2010-01-15
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,...,4,Medium,medium,30,0.002671,249,5.764000e+01,John Smith,Gold,2010-01-15
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,...,4,Medium,medium,35,0.002469,249,7.798000e+01,John Smith,Gold,2010-01-15
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,...,4,Medium,medium,30,0.002469,249,9.832000e+01,John Smith,Gold,2010-01-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530099,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,...,4,Medium,small,29,0.002599,1842,1.066662e+07,NaN,NaN,NaT
530100,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,...,4,Medium,medium,27,0.001597,1842,1.066663e+07,NaN,NaN,NaT
530101,541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680,France,15.00,...,4,Medium,small,26,0.002348,1842,1.066665e+07,NaN,NaN,NaT
530102,541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680,France,23.40,...,4,Medium,medium,24,0.003663,1842,1.066667e+07,NaN,NaN,NaT
530103,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,...,4,Medium,small,29,0.002325,1842,1.066668e+07,NaN,NaN,NaT

# Task 110: Create a product categories dataset (make up data):

# StockCode, Category (e.g., Home, Kitchen, Gift, etc.)

In [ ]:
import pandas as pd

product_categories = pd.DataFrame({
    'StockCode': ['85123A', '71053', '84406B', '84029G', '84029E'],
    'Category': ['Home Decor', 'Home Decor', 'Gift', 'Kitchen', 'Kitchen']
})
product_categories

  StockCode    Category
0    85123A  Home Decor
1     71053  Home Decor
2    84406B        Gift
3    84029G     Kitchen
4    84029E     Kitchen

# Task 111: Combine the sales data with product categories to analyze which categories generate the most revenue.

In [ ]:
df.merge(product_categories, on='StockCode', how='left').groupby('Category')['TotalPrice'].sum().sort_values(ascending=False)

Category
Home Decor    112960.62
Kitchen        38309.02
Gift            7657.32
Name: TotalPrice, dtype: float64

# Task 112: Perform an analysis that shows total revenue by MembershipLevel.

In [ ]:
df.merge(customer_info, on='CustomerID', how='left').groupby('MembershipLevel')['TotalPrice'].sum().sort_values(ascending=False)

MembershipLevel
Bronze    7281.38
Gold      6339.46
Silver    4113.54
Name: TotalPrice, dtype: float64

# Task 113: Show which product categories are most popular in each country

In [ ]:
df.merge(product_categories, on='StockCode', how='left').groupby(['Country', 'Category']).size().sort_values(ascending=False)

Country          Category
UK               Home Decor    2503
                 Kitchen        882
                 Gift           271
IreLand          Home Decor      55
Spain            Home Decor      13
France           Kitchen          8
Netherlands      Gift             8
IreLand          Kitchen          6
Netherlands      Home Decor       6
Italy            Home Decor       5
Cyprus           Home Decor       5
Germany          Kitchen          5
Switzerland      Home Decor       5
Channel Islands  Home Decor       4
IreLand          Gift             4
Switzerland      Kitchen          4
Germany          Gift             3
France           Home Decor       3
Finland          Home Decor       3
Spain            Kitchen          2
Channel Islands  Kitchen          2
Israel           Home Decor       2
Portugal         Home Decor       2
Singapore        Home Decor       2
Germany          Home Decor       1
Australia        Home Decor       1
Denmark          Kitchen          1
Austria          Gift             1
Australia        Kitchen          1
Norway           Kitchen          1
Malta            Home Decor       1
dtype: int64

# PART R: NumPy Operations

# Task 114: Extract Quantity and UnitPrice as arrays and perform element-wise multiplication.

In [ ]:
total_values = df['Quantity'] * df['UnitPrice']
total_values

0         15.30
1         20.34
2         22.00
3         20.34
4         20.34
          ...
530101    16.60
530099    10.20
530095    15.00
530089    23.40
530103    14.85
Length: 530104, dtype: float64

# Task 115: Create an array of 1000 random transaction IDs.

In [ ]:
import numpy as np

transaction_ids = np.random.randint(100000, 999999, size=1000)
transaction_ids

array([379097, 100153, 211154, 454546, 565511, 860964, 179014, 282635,
       397598, 133394, 935802, 486323, 349977, 635203, 603197, 707793,
       294498, 997474, 710707, 344125, 934161, 188973, 322045, 596566,
       772114, 593013, 387842, 427257, 777574, 214681, 203637, 669352,
       558207, 372936, 291265, 916410, 448741, 626941, 503727, 390531,
       974432, 290289, 649654, 564903, 695818, 432235, 647328, 569643,
       210598, 988433, 490598, 747979, 902121, 774923, 743456, 671668,
       154546, 735356, 292172, 796356, 586327, 339187, 345053, 608511,
       120650, 276233, 822249, 828499, 690914, 947200, 290951, 114617,
       700198, 229413, 496827, 849226, 268673, 735468, 282538, 389556,
       443556, 330153, 331286, 287930, 740671, 270823, 897707, 844323,
       460149, 728542, 222403, 629184, 783954, 662802, 333695, 796759,
       757904, 861194, 447314, 491433, 806816, 971666, 844332, 187283,
       351639, 168885, 909423, 801645, 842797, 302057, 141849, 386219,
       471604, 977118, 270025, 841369, 874319, 398149, 125189, 210894,
       856536, 587350, 370469, 384457, 135582, 717062, 346028, 605316,
       544707, 664705, 248846, 384461, 977882, 330622, 453155, 777201,
       876217, 847246, 699484, 779349, 252829, 591524, 758039, 247534,
       666102, 596326, 233610, 712844, 775375, 992097, 807143, 962231,
       821124, 889710, 768108, 928557, 989129, 170104, 203318, 489965,
       992986, 916620, 507806, 696147, 529562, 841288, 114012, 536920,
       103549, 995766, 487602, 724476, 383501, 287756, 873614, 897507,
       606692, 728419, 218842, 845346, 528424, 340283, 634942, 599618,
       804863, 812255, 266270, 337798, 908899, 109364, 591947, 678140,
       859453, 174561, 456391, 933594, 300826, 142049, 793022, 505588,
       184465, 199693, 472502, 640859, 544797, 892731, 837650, 510570,
       861387, 938348, 143302, 678481, 115839, 427588, 770321, 710320,
       282940, 272717, 369379, 699692, 561766, 837527, 477948, 460383,
       917641, 415449, 193634, 167941, 681554, 223933, 331525, 732234,
       375291, 517851, 354382, 734011, 905371, 580748, 931912, 166372,
       240244, 919974, 248913, 360250, 927701, 496584, 105883, 671361,
       967236, 233096, 865090, 113956, 863152, 353333, 855356, 827532,
       223757, 449281, 955053, 309658, 410071, 743561, 735426, 205174,
       469219, 311722, 166906, 845930, 745606, 920940, 809684, 150406,
       893196, 766602, 996547, 604329, 533949, 796177, 194951, 841853,
       353171, 546487, 355297, 469222, 587025, 174107, 895093, 749078,
       437625, 473082, 831784, 723530, 206035, 420179, 844177, 531014,
       974966, 592228, 236861, 725893, 469404, 203600, 384144, 677143,
       800081, 829492, 281878, 701881, 291175, 351558, 702018, 295199,
       105308, 326090, 198597, 896398, 368401, 269775, 765844, 251036,
       979495, 119170, 589181, 771594, 867355, 173854, 889413, 419444,
       766841, 304717, 382761, 228560, 192427, 201682, 941023, 743943,
       929612, 365960, 631227, 416046, 435475, 134256, 858452, 150808,
       204383, 308062, 241718, 886215, 278213, 605843, 205556, 622506,
       294596, 585196, 818909, 362570, 672534, 131143, 785229, 600981,
       237321, 397844, 790511, 184132, 963711, 135197, 227100, 732025,
       966349, 149424, 570870, 788636, 492470, 240350, 586876, 686435,
       334439, 740250, 507933, 537707, 120977, 887487, 593003, 259144,
       234385, 318521, 882698, 519924, 704388, 765417, 403655, 706560,
       856994, 486265, 582291, 207150, 914383, 716262, 953058, 415053,
       485496, 439221, 161732, 328058, 179533, 977745, 118866, 348814,
       114684, 346679, 517183, 946730, 887251, 481685, 177100, 521292,
       932518, 243163, 351751, 333898, 967975, 337795, 587424, 541152,
       867189, 178116, 900294, 281732, 525065, 748307, 321174, 693476,
       340356, 733768, 163812, 858039, 894653, 372570, 900697, 861779,
       123265, 297969, 673753, 703398, 694788, 684584, 947161, 601810,
       777231, 962957, 392370, 577361, 608681, 200910, 648405, 406431,
       854484, 237151, 106783, 252305, 404341, 375949, 394247, 114866,
       559457, 663503, 941354, 257401, 880583, 145744, 227914, 616807,
       225912, 248747, 824145, 486493, 557500, 383405, 477541, 180377,
       944879, 599263, 758930, 408930, 779303, 242377, 739821, 169299,
       684004, 372204, 206973, 788173, 933482, 843053, 583668, 642035,
       403508, 850638, 986448, 341622, 819003, 163109, 923585, 563721,
       619873, 462241, 706778, 264567, 257813, 643287, 850376, 794738,
       169175, 850211, 723954, 359437, 565429, 930713, 268178, 582665,
       996128, 263562, 209701, 570147, 277525, 216730, 487029, 962133,
       321080, 963162, 120956, 396682, 317009, 302427, 999761, 361026,
       913909, 362727, 870843, 375871, 917812, 586616, 941856, 859560,
       819670, 810367, 976983, 164745, 585764, 330542, 658705, 841378,
       167493, 874319, 467649, 526879, 681979, 842007, 977760, 555546,
       224761, 793300, 482764, 264483, 778320, 910956, 746658, 485612,
       261115, 869879, 992262, 284256, 415287, 584548, 531742, 961897,
       338835, 110196, 436582, 679238, 772431, 299623, 813170, 777395,
       730899, 846953, 160596, 277364, 811047, 580790, 603901, 510899,
       124341, 714275, 290209, 570688, 820590, 480442, 274087, 257499,
       337851, 117346, 572265, 621077, 808443, 786590, 522221, 936260,
       745698, 792837, 795367, 349812, 382767, 279726, 340077, 864826,
       817758, 790172, 578643, 112888, 748029, 102561, 870051, 273000,
       337038, 142528, 174684, 682756, 975752, 866225, 139118, 259654,
       590693, 228835, 335306, 174254, 785017, 629810, 768127, 919191,
       217962, 191909, 597914, 639820, 408582, 967896, 295474, 268722,
       458523, 595650, 291322, 490921, 655024, 916731, 721232, 179980,
       114291, 938286, 419303, 855176, 434785, 237295, 948898, 415312,
       308784, 852199, 460000, 634935, 651518, 574806, 970476, 363173,
       556857, 164869, 431890, 440197, 464672, 153939, 918488, 137461,
       923517, 811829, 278031, 257351, 691879, 462687, 385882, 185049,
       415308, 487201, 391229, 590086, 547615, 110888, 882577, 496949,
       160428, 952088, 858758, 997893, 269814, 602317, 970471, 270377,
       651091, 473631, 706546, 686558, 971626, 310815, 518786, 173767,
       620544, 331554, 240368, 205532, 760025, 915554, 364497, 940553,
       738514, 855141, 564064, 259208, 922256, 572172, 475198, 789226,
       390512, 892179, 704886, 183396, 440319, 522028, 496814, 998107,
       931443, 346417, 669385, 798229, 799022, 886490, 400495, 908644,
       394939, 285972, 763105, 425597, 526497, 582872, 893281, 189233,
       423315, 141108, 582556, 511274, 664911, 117187, 902971, 645615,
       745697, 667213, 772610, 910861, 102855, 563895, 777612, 365724,
       391515, 167470, 157039, 337717, 272583, 180714, 739127, 173699,
       743573, 199069, 285812, 846225, 483646, 579399, 702108, 212122,
       193138, 617343, 940200, 541656, 836453, 215484, 565724, 612102,
       147729, 139846, 610690, 487946, 371797, 789573, 429337, 806901,
       231480, 438861, 511875, 758031, 230874, 559351, 563468, 950411,
       454924, 549051, 959730, 931757, 278940, 117816, 233075, 634146,
       270775, 267078, 297034, 131298, 393492, 475659, 182792, 598729,
       701650, 253144, 847192, 167440, 783199, 376414, 115602, 545143,
       339145, 351695, 663273, 686073, 996885, 394315, 713717, 446382,
       793860, 607877, 206976, 455342, 392891, 569985, 395505, 286859,
       350104, 694030, 521544, 513100, 174402, 729396, 988831, 651103,
       531089, 895934, 417883, 344818, 589770, 521065, 260756, 224760,
       961814, 481390, 529559, 285671, 841650, 191612, 952284, 945569,
       135324, 479338, 539400, 953605, 353673, 368957, 883128, 267365,
       500547, 949195, 158897, 479738, 927965, 178512, 830471, 606011,
       699168, 127825, 732696, 825066, 627520, 995868, 491160, 235485,
       345929, 154039, 999799, 191332, 541180, 410359, 141220, 312731,
       597312, 213008, 136049, 454114, 232365, 176003, 994039, 194737,
       625465, 803822, 572525, 256107, 592569, 612977, 714575, 170297,
       787372, 954303, 903509, 538975, 455930, 839379, 672659, 859957,
       434679, 633975, 423771, 724765, 855754, 326974, 491167, 569138,
       220461, 759085, 349278, 654293, 562205, 889829, 591028, 199227,
       814505, 224236, 536304, 465415, 488605, 224303, 129635, 499527,
       669246, 564796, 380916, 344089, 829518, 580995, 735411, 371172,
       500873, 519423, 546924, 756522, 333241, 851023, 436240, 139258,
       597620, 224990, 490796, 966715, 886092, 953927, 915281, 545995,
       939834, 670659, 440896, 703268, 512817, 317796, 821505, 359123,
       441790, 752485, 724754, 558310, 127594, 334437, 445567, 462017,
       428533, 499809, 588742, 545639, 211331, 520236, 561254, 610929])

# Task 116: Generate 50 equally spaced price points between Â£0 and Â£500.

In [ ]:
equallyspaced=np.linspace(0,500,50)
equallyspaced

array([  0.        ,  10.20408163,  20.40816327,  30.6122449 ,
        40.81632653,  51.02040816,  61.2244898 ,  71.42857143,
        81.63265306,  91.83673469, 102.04081633, 112.24489796,
       122.44897959, 132.65306122, 142.85714286, 153.06122449,
       163.26530612, 173.46938776, 183.67346939, 193.87755102,
       204.08163265, 214.28571429, 224.48979592, 234.69387755,
       244.89795918, 255.10204082, 265.30612245, 275.51020408,
       285.71428571, 295.91836735, 306.12244898, 316.32653061,
       326.53061224, 336.73469388, 346.93877551, 357.14285714,
       367.34693878, 377.55102041, 387.75510204, 397.95918367,
       408.16326531, 418.36734694, 428.57142857, 438.7755102 ,
       448.97959184, 459.18367347, 469.3877551 , 479.59183673,
       489.79591837, 500.        ])

# Task 117: Create a matrix representing 12 months and 7 product categories filled with zeros.

In [ ]:
import numpy as np

matrix = np.zeros((12, 7))
matrix

array([[0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.]])

# Task 118: Extract quantities greater than 100 from the Quantity array.

In [ ]:
large_quantities = df['Quantity'][df['Quantity'] > 100]
large_quantities

96        120
176       192
177       192
178       192
179       432
         ...
528643    120
529485    110
529743    180
529900    144
529909    144
Name: Quantity, Length: 4849, dtype: int64

# Task 119: Calculate the square root of all UnitPrice values.

In [ ]:
sqrt_unitprice = np.sqrt(df['UnitPrice'])
sqrt_unitprice

0         1.596872
1         1.841195
2         1.658312
3         1.841195
4         1.841195
            ...
530101    2.037155
530099    0.921954
530095    1.936492
530089    1.396424
530103    2.224860
Name: UnitPrice, Length: 530104, dtype: float64

# Task 120: Find the 25th, 50th, and 75th percentiles of TotalPrice.

In [ ]:
df['TotalPrice'].quantile([0.25, 0.5, 0.75])

0.25     3.75
0.50     9.90
0.75    17.70
Name: TotalPrice, dtype: float64

# Task 121: Round all UnitPrice values to the nearest integer.

In [ ]:

df['UnitPrice'] = np.round(df['UnitPrice'])
df

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,...,hour,DayOfWeek,DayOfWeekNum,Quarter,RevenueCategory,ordersize,lengthofprodname,MonthlyRevenuePct,CustomerRank,CumulativeRevenue
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,3.0,17850,UK,15.30,...,8,Wednesday,2,4,Medium,medium,34,0.001857,249,1.530000e+01
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.0,17850,UK,20.34,...,8,Wednesday,2,4,Medium,medium,19,0.002469,249,3.564000e+01
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,3.0,17850,UK,22.00,...,8,Wednesday,2,4,Medium,medium,30,0.002671,249,5.764000e+01
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.0,17850,UK,20.34,...,8,Wednesday,2,4,Medium,medium,35,0.002469,249,7.798000e+01
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.0,17850,UK,20.34,...,8,Wednesday,2,4,Medium,medium,30,0.002469,249,9.832000e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530101,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.0,12680,France,16.60,...,12,Friday,4,4,Medium,small,29,0.002599,1842,1.066662e+07
530099,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,1.0,12680,France,10.20,...,12,Friday,4,4,Medium,medium,27,0.001597,1842,1.066663e+07
530095,541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,4.0,12680,France,15.00,...,12,Friday,4,4,Medium,small,26,0.002348,1842,1.066665e+07
530089,541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,2011-12-09 12:50:00,2.0,12680,France,23.40,...,12,Friday,4,4,Medium,medium,24,0.003663,1842,1.066667e+07
530103,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,5.0,12680,France,14.85,...,12,Friday,4,4,Medium,small,29,0.002325,1842,1.066668e+07

# Task 122: Find positions where Quantity is maximum.

In [ ]:
max_positions = df[df['Quantity'] == df['Quantity'].max()].index
max_positions

Index([528623], dtype='int64')

# Task 123: Calculate the correlation between Quantity and UnitPrice.

In [ ]:
correlation = df['Quantity'].corr(df['UnitPrice'])
correlation

np.float64(-0.0038127048585727434)

# Task 124: Normalize the TotalPrice column (subtract mean, divide by standard deviation).

In [ ]:
df['TotalPrice_Normalized'] = (df['TotalPrice'] - df['TotalPrice'].mean()) / df['TotalPrice'].std()
df

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,...,DayOfWeek,DayOfWeekNum,Quarter,RevenueCategory,ordersize,lengthofprodname,MonthlyRevenuePct,CustomerRank,CumulativeRevenue,TotalPrice_Normalized
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,3.0,17850,UK,15.30,...,Wednesday,2,4,Medium,medium,34,0.001857,249,1.530000e+01,-0.017835
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.0,17850,UK,20.34,...,Wednesday,2,4,Medium,medium,19,0.002469,249,3.564000e+01,0.000807
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,3.0,17850,UK,22.00,...,Wednesday,2,4,Medium,medium,30,0.002671,249,5.764000e+01,0.006947
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.0,17850,UK,20.34,...,Wednesday,2,4,Medium,medium,35,0.002469,249,7.798000e+01,0.000807
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.0,17850,UK,20.34,...,Wednesday,2,4,Medium,medium,30,0.002469,249,9.832000e+01,0.000807
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530101,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.0,12680,France,16.60,...,Friday,4,4,Medium,small,29,0.002599,1842,1.066662e+07,-0.013027
530099,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,1.0,12680,France,10.20,...,Friday,4,4,Medium,medium,27,0.001597,1842,1.066663e+07,-0.036699
530095,541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,4.0,12680,France,15.00,...,Friday,4,4,Medium,small,26,0.002348,1842,1.066665e+07,-0.018945
530089,541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,2011-12-09 12:50:00,2.0,12680,France,23.40,...,Friday,4,4,Medium,medium,24,0.003663,1842,1.066667e+07,0.012125
530103,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,5.0,12680,France,14.85,...,Friday,4,4,Medium,small,29,0.002325,1842,1.066668e+07,-0.019500

# Task 125: Split the Quantity array into 4 equal parts.

In [ ]:
quantity_parts = np.array_split(df['Quantity'].to_numpy(), 4)
quantity_parts

[array([6, 6, 8, ..., 4, 2, 2]),
 array([ 2, 16,  1, ...,  2,  1,  4]),
 array([ 1,  1,  2, ...,  4,  6, 12]),
 array([ 3,  2,  1, ...,  4, 12,  3])]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 530104 entries, 0 to 530103
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   index                  530104 non-null  int64
 1   InvoiceNo              530104 non-null  object
 2   StockCode              530104 non-null  object
 3   ProductName            530104 non-null  object
 4   Quantity               530104 non-null  int64
 5   InvoiceDate            530104 non-null  datetime64[ns]
 6   UnitPrice              530104 non-null  float64
 7   CustomerID             530104 non-null  int64
 8   Country                530104 non-null  object
 9   TotalPrice             530104 non-null  float64
 10  year                   530104 non-null  int32
 11  month                  530104 non-null  int32
 12  day                    530104 non-null  int32
 13  hour                   530104 non-null  int32
 14  DayOfWeek              530104 non-null  object
 15  DayOfWeekNum           530104 non-null  int32
 16  Quarter                530104 non-null  int32
 17  RevenueCategory        530104 non-null  object
 18  ordersize              530104 non-null  object
 19  lengthofprodname       530104 non-null  int64
 20  MonthlyRevenuePct      530104 non-null  float64
 21  CustomerRank           530104 non-null  int64
 22  CumulativeRevenue      530104 non-null  float64
 23  TotalPrice_Normalized  530104 non-null  float64
dtypes: datetime64[ns](1), float64(5), int32(6), int64(5), object(7)
memory usage: 89.0+ MB

# PART S: Export and Documentation
# Task 126: Save your cleaned dataset to a CSV file.

In [ ]:
df.to_csv('cleanedonlineretailsproject.csv')

# Task 127: Save your cleaned dataset to an Excel file.

In [ ]:
df.to_excel('cleanedonlineretailsproject.xlsx',index=False)

# Task 128: Create an Excel file with multiple sheets:

# Sheet 1: Full cleaned data
# Sheet 2: Country-wise summary
# Sheet 3: Monthly revenue trends
# Sheet 4: Top 50 customers

In [ ]:
with pd.ExcelWriter('Retail_Analysis_Report.xlsx', engine='openpyxl') as writer:

    df.to_excel(writer, sheet_name='Full Data', index=False)


    country_summary = df.groupby('Country')['TotalPrice'].sum().sort_values(ascending=False)
    country_summary.to_excel(writer, sheet_name='Country Summary')


    monthly_trend = df.groupby('month')['TotalPrice'].sum()
    monthly_trend.to_excel(writer, sheet_name='Monthly Trends')

    top_customers = df.groupby('CustomerID')['TotalPrice'].sum().nlargest(50)
    top_customers.to_excel(writer, sheet_name='Top 50 Customers')

# Task 129: Export the pivot table from Task 100 to Excel.

In [ ]:
monthly_sales_summary.to_excel('monthly_sales_summary_pivot.xlsx')

# Task 130: Create a text file documenting all the insights you discovered from this analysis.

In [ ]:
insights_text = """
E-COMMERCE ANALYSIS INSIGHTS
----------------------------
1. Revenue is heavily concentrated in the UK.
2. Q4 shows significant seasonality peaks.
3. A small percentage of customers drive the majority of revenue (Pareto Principle).
4. Cancellations (Invoice 'C') were significant before cleaning.
"""

with open('Analysis_Insights.txt', 'w') as f:
    f.write(insights_text)

print("Export protocols initiated. Files generated successfully.")

Export protocols initiated. Files generated successfully.